[2014-07-23 17:32] sckott opened #1 "fulltext planning"
Hey @ropensci/owners - Let's think about how we want this package to work:

* I've started off adopting the model we use in `spocc`, with plugins for each data source [like this](https://github.com/ropensci/fulltext/blob/master/R/ft_search.R#L41-L50). Does this seem reasonable?
* Do you think this package will be complex enough to require `S4`, or should we stick with `S3`?
* Things will get a bit

[2014-08-08 18:34] emhart opened #2 "fulltext data structure"
I wanted to begin the discussion of data structures for the data that's returned.  Here's a list of ideas.

1. Should text be automatically converted to a `tm` corpus or just stay as plain text?
2. Should data be written to disk and then read back in via `tm`?  Or perhaps this is an option
     * If it's written to disk, what format should be used?  Plain text? XML?
3. What's happening with metada

[2014-08-08 18:39] emhart opened #3 "fulltext use cases"
What are usecases for fulltext?
* Mining scholarly full text data or metadata for when terms arise.  [Here's a good example](https://github.com/ropensci/rentrez/blob/master/README.md)  from the `rentrez` README

[2014-08-08 18:46] emhart opened #4 "fulltext sources"
What sources should we include in `fulltext`?  Currently we have:
- `rplos`
- `bmc`
- `elife`

for fulltext.  We should also be able to get fulltext from F1000 via RSS, and I'm not sure about PeerJ.

We can also get metadata for most pubmed papers via `rentrez` and we can get metadata access to arxiv papers: http://arxiv.org/help/bulk_data

What sources are we missing?

[2014-08-15 18:48] sckott opened #5 "Visualizations"
- [ ] Would be great to use @cpsievert work on interactive topic model visualization here - perhaps we can import https://github.com/cpsievert/LDAvis - thoughts Carson?

* What are other common types of vizualizations for exploring text

[2014-09-07 14:03] sckott opened #6 "Licenses"
Convo started by @dwinter in #2 , quoting him here, and we'll continue more talk below

[2014-09-07 14:41] sckott opened #7 "Function to fetch full text only"
That is, we are working on `ft_search()` for getting an idea of what's out there, and perhaps the DOIs for what you want, then this function `ft_get()` would be specifcally for getting raw text, whether in JSON, XML, or plain text.

[code]

[code]

[2014-09-10 00:52] sckott opened #8 "Serialize function"
- ~~from xml to json~~
- ~~json to xml~~ (don't support this)
- ~~to list~~
- to data.frame (maybe, maybe not?)
- to zip/tar.gz?
- ~~to disk~~
- ~~to `tm` corpus~~ (done in ft_extract_corpus)

[2014-09-10 06:41] sckott opened #9 "Collect information on text format provided by each publisher"
useful for us, for users, and for us to then go out and ask for better xml/etc. from publishers.

discussed in #8

[2014-09-19 00:56] sckott opened #10 "Search functionality"
right now draft fxn lives at `ft_search()`. So even though some of the below sources can fetch full text, this function will only be for searching providing metadata on what's available, not the data itself.

Search APIs to use

- [x] Crossref text/data-mining API - this is wrapped up in the `rcrossref` pkg - https://github.com/ropensci/rcrossref - not sure how to work this in since it's across lo

[2014-09-19 14:40] sckott opened #11 "Piping workflow"
Support a piping workflow, for more intuitive text mining, e.g.,

[code]

[2014-09-19 14:48] sckott opened #12 "Function to lookup info on per publisher or per journal basis"
Would be useful to ask

and

This may be able to be done just with Crossref metadata API, though maybe work in Entrez too.

perhaps `ft_providers()` ?

[2014-09-21 16:20] sckott opened #13 "pdf handling"
A user will often get a mix of articles back with some in xml format, some in pdf, and maybe other format.

The `ft_get()` function should return the actual text of the article, but in the case of pdfs we need to extract the text first.  With pdfs, would it make sense to return a pointer to wherever that pdf lives, likely a local file path.  Then do the extraction in a separate step, or at least a

[2014-09-27 20:25] nickbadams opened #14 "Good Opportunity to work with ProQuest -- who should reach out?"
ProQuest is looking for beta-users of a new Text and Data Mining Service (TDM). We may be interested in working with them.

Who should reach out?

See email thread below.

Hi All,

I'm wondering if you can think of any faculty or grads who might be interested in taking part in ProQuest's early iteration of a Text and Data Mining (TDM) service? See the email below for details.

The corpus would ini

[2014-10-03 15:04] sckott opened #16 "Data cleaning"
Just as with `spocc`, because we could potentially end up with search results and/or full text data pulled down that are duplicates, how do we go about cleaning those data?  I could see this esp. if a user searchers from crossref and entrez, which are both pretty big warehouses of metadata from lots of publishers.

One obvious one is to try to match on article identifiers, e.g., DOIs

I think the

[2014-10-08 15:37] sckott opened #17 "update rentrez code for new formats"
See email from david

[2014-10-21 13:04] sckott opened #19 "Update readme"

[2014-11-13 07:59] emhart opened #20 "adding biorxiv to plug in structure of the pkg."
The approach you're using with plug-ins seems to require that each source is its own package.  I wanted to add the biorxiv search code in now that pdf extraction is an option. Should I just make it it's own small package and push to CRAN to keep with your overall structure? Or do you think there's room for sources to be internal to the package (I can see why this should be avoided though)?

[2014-11-20 06:38] sckott opened #21 "Integration downstream"
Just saw this https://github.com/kbenoit/quanteda

Possible thing to test for downstream text manipulation use cases

[2014-12-16 18:51] sckott opened #22 "Spark R pkg integration"
https://github.com/amplab-extras/SparkR-pkg

[2014-12-18 15:52] sckott opened #23 "Use case: search for pesticide names"
From G-group mailing list  https://groups.google.com/forum/#!topic/ropensci-discuss/T5aPR8e9RYc

[2014-12-19 15:38] sckott opened #24 "Remove any elife API code and elife pkg dep"
elife is deprecating their API, unsurprisingly

Fix here https://github.com/ropensci/fulltext/blob/master/R/plugins_get.R#L44-L56 and elsewhere

[2014-12-20 16:18] #19 closed, assigned to nobody

[2014-12-20 16:18] #24 closed, assigned to nobody

[2014-12-20 16:26] #12 closed, assigned to sckott

[2014-12-20 19:21] sckott opened #25 "Function to open up article in browser"
with one of

* original page from publisher -> `http://dx.doi.org/<doi>`
* macrodocs.org -> `http://macrodocs.org/`
* `whisker` from R?

[2014-12-21 07:28] emhart opened #26 "Rcampdf dependency bug"
Trying to install the latest version on github.

Initially it throws an error because `Rcampdf` and `bmc` are not available.  However I assume that the `bmc` dependency will be resolved once it's up on CRAN.  However I can't really seem to find any trace of `Rcampdf` except on the `tm` suggests section on CRAN (http://cran.r-project.org/web/packages/tm/index.html) but there's no link to the packag

[2014-12-21 17:08] #26 closed, assigned to nobody

[2015-01-08 18:27] sckott opened #27 "Convenience functions to help extract certain parts of articles"
Of course people that know XML or want to use downstream tools like `tm` package could do their own thing, but for people that may not know how to do it themselves, some functions to help extract authors, body, keywords, etc. may be useful,

playing around with this now...

[2015-01-08 22:23] sckott commented on #8
been playing with this via `Sxslt` , but of course this is only on Omegahat.  Looks like we use it in `RNeXML` - but as a Suggest.  I have gotten serializing XML to HTML via `xsltApplyStyleSheet()` but this probably isn't the most useful serialization.

[code]

gives https://gist.github.com/sckott/805fc7e97fe1b34daff1

[2015-01-08 22:25] sckott commented on #8
@cboettig Or do you think it's worth it to import `Sxslt` to be able to use stylesheets?

[2015-01-08 22:34] cboettig commented on #8
CRAN has been pretty happy with the Sxslt dependency; I've gotten more
trouble for github dependencies. Perhaps Duncan could be persuaded to put a
copy of Sxslt on CRAN if enough packages are using it.  (We use it in EML
too)

On Thu Jan 08 2015 at 2:25:17 PM Scott Chamberlain <notifications@github.com>
wrote:

[2015-01-09 00:42] #25 closed

[2015-01-09 00:43] sckott commented on #27
still more work to do on this, add support for other publishers...note that results from entrez may not all be the same format...

[2015-01-09 01:30] sckott commented on #1
closing this as too general, we can open more specific ones if needed

[2015-01-09 01:30] #1 closed

[2015-01-09 16:08] sckott opened #28 "Remove need for passing `from` parameter in ft_get?"
Seems like a common workflow could be to pass the output of `ft_search()` to `ft_get()`, and only if user wants data from all articles, then pass output of `ft_search()` to `ft_get()` and  `ft_get()` figures out that `from=entrez` so user doesn't need to pass that. This could be default, and user could toggle `from` if they want to try to get data from other sources. But if user passes partial lis

[2015-01-09 21:27] sckott commented on #17
stick w/ `rentrez` `v0.3.1` for now since that's what will get installed by default when they install `fulltext`...

[2015-01-09 21:28] sckott commented on #11
the pipe is exported now, and started to show many examples, more will come later, closing...

[2015-01-09 21:28] #11 closed

[2015-01-09 21:39] sckott opened #29 "Caching"
needs to be an option for those with big datasets

[2015-01-09 21:40] sckott commented on #29
working on now, pulling code written from other project to here, backends: rds, rcache, sqlite, and redis

[2015-01-20 16:40] emhart commented on #20
No word so closing and nuking.

[2015-01-20 16:47] sckott commented on #20
sorry i didn't get back to you :( - looks like your fork is gone - do you still have it locally?  would be good to get it rolled in - in terms of where to put PDFs, i went with a hidden folder in the user's root directory https://github.com/ropensci/fulltext/blob/master/R/cache.R#L21 - but been trying to build in different options for caching pdfs, so path to store things is only relevant with one

[2015-01-20 16:48] sckott commented on #20
can we reopen?

[2015-01-20 16:48] sckott commented on #20
@emhart

[2015-01-21 18:11] karthik opened #30 "add support for Stanford Parser"
http://nlp.stanford.edu/software/lex-parser.shtml

via Nick Adams

[2015-01-21 19:23] sckott commented on #30
@karthik will this introduce a Java dependency?

[2015-01-21 19:34] karthik commented on #30
Unfortunately yes. But apparently it is quite popular. So we'll have to
discuss it more.

On Wed, Jan 21, 2015 at 11:23 AM, Scott Chamberlain <
notifications@github.com> wrote:

[2015-01-21 19:39] sckott commented on #30
hopefully we can do this in a way that the java dep is optional

[2015-01-22 20:33] karthik commented on #30
We can't make it work with Java as optional. One will need Java anyway to install the parser locally. We don't introduce any additional dependencies on our side. We can use rJava to work with this API, but rJava will install easily because Java would already exist locally for the parser to work.

[2015-01-23 07:16] emhart commented on #20
biorxiv is now it's own package: https://github.com/emhart/biorxiv, I can refork and add my old code in for searches and send a PR.

[2015-01-23 19:05] sckott commented on #20
@emhart cool, sounds good

[2015-01-25 04:47] emhart commented on #20
Search functionality is all up to snuff if you want to merge with master.  It looks like a lot of commits because the old biorxiv branch had fallen way behind, but when merged into master it should just have a few actual changes.

Still todo:
- [ ] Add plug-in to `ft_get()`

What's the best way to do this @sckott ? Looks like all the other classes return full text as ascii and store in your class

[2015-01-26 16:06] sckott commented on #20
@emhart

Right now

[code]

indexing to plos gives

[code]

so there's not really a spot to store abstracts, but that's something we could consider. Problem is if we're downloading pdfs, then we have to extract the abstract for all articles on the call to `ft_get()`, which could take a long time if there's lots of articles. And some may not have abstracts, etc.

I've moved to by default pushing da

[2015-01-26 18:01] emhart commented on #20
Ahhh, ok...

Actually because the biorxiv site stores abstracts as text, I just scrape that and store it so that's why I thought I could update it.  I'll work on this with your new changes.

[2015-02-03 15:57] sckott opened #33 "elife link headers from dx.doi.org still don't work"
Heard back from elife on 2015-02-03  -they said it's fixed, thus far it's not, but wait a bit more and see if changes needed to propagate first to servers or something like that.

e.g. `curl -v  -L -H 'Accept: text/turtle' http://dx.doi.org/10.7554/elife.04059`

[2015-02-08 16:17] sckott opened #35 "Get a test suite up and running"

[2015-03-16 01:59] dwinter opened #36 "Get full text links for closed articles via pubmed?"
Hi scott.

My drive to complete `rentrez` turned up something that might be helpful for fulltext. It turns out the `elink`endpoint form NCBI can find links to outside providers for a given paper via it's PMID.

This example requires the work I've been doing in the [`elink` feature branch](https://github.com/ropensci/rentrez/tree/elink) (progress being tracked on ropensci/rentrez#39):

[code]
[code

[2015-03-16 19:11] sckott commented on #36
hey @dwinter -

I think getting full text links is a good use case for sure. The `rcrossref` pkg has a function that does this, or at least attempts to - there's some publishers that don't share the appropriate metadata, so the links that come back can be wrong, have the wrong content types, etc.

anyway, yeah, I think another interface we could have in addition to `search` and `get_full_text`, is

[2015-03-16 19:45] dwinter commented on #36
Hi @sckott,

Cool, the elink branch is almost ready to merge back with master, so will definitely be all in place for the stable release. Let me know if I can help integrating it into fulltext as and when you get to it

[2015-03-16 20:41] sckott commented on #36
Great, sounds good.

Gotta think about this a little bit. That is, should this feature/use case just be a subset within the search interface here, or a separate set of functions.  Maybe it makes most as downstream after seaerching, so:

1. user searches, e.g, `res <- ft_search(query='ecology', from='plos')`
2. user wants full text links, so e.g.., (using a new function) `ft_links(res)` takes DOIs

[2015-05-05 15:50] #20 closed

[2015-07-01 12:02] Ackhuman opened #37 "Empty reply from server"
I've been using this tool for a few days and it seems to work fine so far, but I am now getting an error when I try to "ft_search":

    Error in function (type, msg, asError = TRUE)  : Empty reply from server

I have tried several search terms, including ones that previously worked correctly and the one that's used in the example usage ("ecology").  Is there some API limit I have hit, maybe, or i

[2015-07-01 13:54] sckott commented on #37
hi @Ackhuman - thanks for the report.

Can you give examples that gave that error?

[2015-07-01 14:02] Ackhuman commented on #37
Hmm, I'm on a different network than before from this morning and it now seems to be working.  The problem may have just been a firewall issue.  Here is a sample:

Error in function (type, msg, asError = TRUE)  : Empty reply from server

Error in function (type, msg, asError = TRUE)  : Empty reply from server

Error in function (type, msg, asError = TRUE)  : Empty reply from server

But it now see

[2015-07-01 15:12] sckott commented on #37
Yeah, most likely PLOS (the default data sources in that fxn) service was temporarily down and now it's back up

[2015-07-01 15:39] sckott commented on #37
@Ackhuman everything's good now?

Keep letting us know of other problems, feature requests!

[2015-07-01 21:58] Ackhuman commented on #37
Yes, I'm guessing it was a problem with the network since going to a different network fixed the issue.  I suppose there would be no easy way to detect that this was happening, either.

[2015-07-01 21:58] #37 closed

[2015-07-01 23:08] sckott commented on #37
Yeah, that's sometimes hard to tell - but usually an `Empty reply from server` means the remote server is down, and hopefully temporarily.  I think if the network you are on is causing the problem, I think you'd get an error more like `Couldn't connect to server`

[2015-07-09 01:16] sckott opened #38 "Look at quanteda for possible use cases"
https://github.com/kbenoit/quanteda

[2015-07-22 02:15] sckott opened #39 "Use bmc pkg functions internally instead of depending on bmc pkg"
Means we don't have to get `bmc` pkg on to CRAN, and it may not be worth getting a pkg up anyway, since the API is so slow.

[2015-07-22 15:14] sckott opened #40 "Fix formats vignette"
The table is not turning out right, fix it

[2015-07-22 15:18] sckott opened #41 "Import all non-base R fxns"

[2015-07-22 15:51] #39 closed

[2015-07-22 15:51] #41 closed

[2015-07-22 16:18] #40 closed

[2015-07-29 19:32] sckott opened #42 "Move to storr perhaps for caching?"
https://github.com/ropensci/rrlite

[2015-07-29 20:57] sckott opened #43 "check_dois() shouldn't fail on html escaped DOIs"

[2015-07-29 21:12] #43 closed

[2015-07-29 22:35] sckott commented on #8
Perhaps use this https://github.com/hrbrmstr/xslt for any xslt work, should be a thing on cran at some point

[2015-07-29 23:47] #35 closed

[2015-07-30 01:03] sckott commented on #7
probably can be improved, good for now

[2015-07-30 01:03] #7 closed

[2015-07-30 01:05] sckott commented on #10
good for now, improve for next milestone, and with feedback

[2015-07-30 01:05] #10 closed

[2015-07-30 01:16] #28 closed

[2015-07-30 01:24] sckott commented on #27
`chunks()` now working pretty well - closing for v0.1

[2015-07-30 01:24] #27 closed

[2015-07-30 02:16] sckott commented on #21
closing in favor of #38

[2015-07-30 02:16] #21 closed

[2015-07-30 20:03] sckott commented on #2
This is more or less set now I think, we can open new issues as needed to change the data structure

[2015-07-30 20:03] #2 closed

[2015-07-30 21:39] sckott commented on #8
Moving to milestone `v0.2`  - we have a working fxn, but I imagine will need more work to be stable/robust

[2015-07-30 21:43] sckott commented on #13
Hmm, nothing we can easily use from contentmine in this pkg, lots of great things though

[2015-07-30 21:46] sckott opened #44 "For pdf handling using pdftotext via system(), make sure users have it"

[2015-07-31 22:49] sckott commented on #44
fixed in bf9f0ba349ff2f470517fb66d8bce25f1d284414

[2015-07-31 22:49] #44 closed

[2015-07-31 23:08] sckott commented on #13
this is good enough I think for `v0.1` - can open up new issues as needed for pdf handling

[2015-07-31 23:08] #13 closed

[2015-08-01 00:58] sckott opened #45 "Drop pkg dependencies not absolutely necessary"

[2015-08-01 01:40] sckott commented on #45
dropped plyr

[2015-08-01 20:52] sckott opened #46 "Vignette with examples for lots of diff. publishers/journals"
so users can see their specific journal they're interested in

[2015-08-02 05:46] sckott opened #47 "Hmm, maybe just figure out for user how to get fulltext based on DOI ?"
would be much nicer user experience, i think at least

will try

requires making extra calls to crossref - __OR__ could try to attach publisher/etc. to each DOI/identifier from `ft_search()` - but some may want to pass DOI/identifier directly, so would need to make crossref API call

[2015-08-02 15:04] sckott commented on #45
dropping XML, not quite done yet

[2015-08-04 00:00] sckott opened #48 "Simplify plugins for ft_get() via closures"
at least for those that share the same setup...

[2015-08-04 04:17] sckott opened #49 "Gracefully handle DOIs for newish vs oldish articles"
The issues
- New DOIs are often not even found in Crossref's API even if they are Crossref minted DOIs - ummm, crappy.
- Entrez/pubmed/pmc have many full text xml files, but usually for older articles, like 3 or 6 months back from the current date - so if a user gives a DOI, they likely won't know when it's from, so we have to negotiate that for them - that is, if new go to publishers site, if old

[2015-08-04 04:17] sckott opened #50 "finish off ft_serialize()"

[2015-08-04 05:39] #47 closed

[2015-08-04 16:36] sckott opened #51 "Warn users in docs about delay in DOIs from minting to in crossref API"

[2015-08-05 01:00] #45 closed

[2015-08-05 01:00] #50 closed

[2015-08-05 01:00] #51 closed

[2015-08-05 01:01] sckott commented on #29
good enough for v1, closing

[2015-08-05 01:01] #29 closed

[2015-08-06 22:46] sckott opened #52 "Make plugins for Europe PMC"
this is separate from Entrez and PMC US

p.s., would also do Canada PMC, but they look a bit haggard

[2015-08-06 22:47] sckott commented on #52
related to #4

[2015-08-06 23:49] sckott commented on #52
docs at https://europepmc.org/RestfulWebService

[2015-08-07 15:20] soodoku opened #53 "More helpful error for pdfx"
Dear Scott,

pdfx gives a very unhelpful error. It would be nice to rewrite the function so that we have a better handle of where the process went wrong.

e.g.
pdfx(file = "PA_Casey_Auditor_General.pdf")
Error: something's wrong

[2015-08-07 15:21] soodoku opened #54 "Better documentation for windows"
Dear Scott,

For windows, it would be good to add directions for xpdf and ghostscript.
They amount to two things.
1. Download X from XYZ
2. Set the PATH variable in 'environment variable' to the directory containing the xpdf executables (there are a bunch.)

Adding the two to readme is likely to make it easier for people to use the package.

[2015-08-07 16:45] sckott commented on #53
thx for the report, taking a look

[2015-08-07 16:47] sckott commented on #53
@soodoku are you sure the path to the file is correct?  Can you email me the pdf

[2015-08-07 17:19] sckott commented on #54
@soodoku added a new checker to `ft_extract()` so should tell user if they don't have ghostscript or pdftotext installed.  Added text to readme and a new man file (`?extract_tools`).  I couldn't yet find exact instructions on how to set path variables on windows. Do you know?

[2015-08-07 17:43] soodoku commented on #54
Dear Scott,

Apologies for being cryptic earlier.

Re. how to set PATH variable in environment variables, this should prove useful:
http://www.computerhope.com/issues/ch000549.htm

More generally: PATH variable defines the search space. So when it comes across gs or xpdf command, it looks into the search space to find executables related to that.

Typically, path amendments will be:
C:\Program Fil

[2015-08-07 17:49] soodoku commented on #53
Dear Scott,

The path is correct. But the file itself is an 'unsearchable pdf' (so just a static image hiding as pdf). Obviously, ghostview, xpdf etc. all fail miserably in getting any data out of it. (And they aren't designed to get any data out). Link to pdf:
https://github.com/soodoku/abbyyR/blob/master/inst/extdata/wisc_ads/PA_Casey_Auditor_General.pdf

But the suggestion I had was for more he

[2015-08-07 18:55] sckott commented on #53
@soodoku thanks, I'll look into the pdfx API and see if they are returning helpful messages that I don't pass to user. if not, i'll see if I can check the pdf to see if it's one that pdfx will parse correctly.

[2015-08-07 20:59] sckott opened #55 "Bug in entrez search"
[code]

doesn't error with lower rate limit. could be something to do with paging within rentrez, fix in `plugin_entrez()`

[2015-08-08 10:07] justa9 opened #56 "ft_get seems to not work for 'arxiv' (on WinXP)"
Hey!

Following along the vignette examples, I tried this:

[code]

But it resulted in the following error:

[code]

A network dump shows that when 'arxiv' is used then no network packet is sent anywhere.
On the contrary, all other 'from' options communicate (and return the aproppriate data) normally.

Tried both CRAN and latest development version of this package, but the error is the same.

[2015-08-08 14:29] sckott commented on #56
@justa9 thanks! I'll have a look

[2015-08-08 15:12] sckott commented on #56
@justa9 can you try it again, i started to try on my windows xp virtual box, but ran into some problems and gave up, but should work

[2015-08-08 16:48] justa9 commented on #56
It works now!

Thanks again!

[2015-08-08 16:48] #56 closed

[2015-08-08 17:13] sckott commented on #56
great!

[2015-08-08 18:16] sckott opened #57 "ft_search() with crossref fix"
[code]

crossref throws warning when limit to big, need to catch that here, and stop

[2015-08-08 18:23] #55 closed

[2015-08-08 22:07] #57 closed

[2015-08-09 16:07] #53 closed

[2015-08-09 16:11] sckott commented on #30
@mbjones thoughts on this?  Any way to avoid a `rJava` dependency?

[2015-08-09 16:19] sckott commented on #14
closing since I never heard back from them

[2015-08-09 16:19] #14 closed

[2015-08-09 20:44] nickbadams commented on #14
I actually have news about this that just came in this week. But, closing
it is fine, because the news is bad: ProQuest has demoted the
priority-level of this project to focus on their quarterly bottom line,
which is being eroded by competition from EBSCO.

On Sun, Aug 9, 2015 at 9:19 AM, Scott Chamberlain <notifications@github.com>
wrote:

--

Nick Adams

Data Science Fellow, Berkeley Institute f

[2015-08-10 04:32] sckott commented on #14
@nickbadams thx for the update.  That's too bad!

[2015-08-10 13:37] abresler opened #58 "Issue with Solr and Loading"
Trying to recreate the demo from the cran install and I get this issue

[code]

Any idea how to fix?

[2015-08-10 14:49] sckott commented on #58
@abresler thanks for the report.

`rplos` https://github.com/ropensci/rplos/blob/master/DESCRIPTION#L36  used in this pkg requires `solr` < a certain version b/c I'm doing a reworking of `solr`  that would break things in `rplos`, so I wanted an easy way to force people to have a compatible `solr` version.

fix is to just install the current cran version of `solr`

I'll get the next `solr` version

[2015-08-10 18:50] sckott commented on #58
@abresler let me know if that works

[2015-08-11 17:58] abresler commented on #58
Works like a charm, thank you sir

[2015-08-11 17:58] #58 closed

[2015-08-11 18:10] abresler opened #59 "Take a look at tesseract"
Not sure if this fits the mission of this package but Duncan Templeton Lang has a nice package that leverages Tesseract for OCR in R:

github.com/duncantl/Rtesseract

Getting everything to work is quite difficult and the documentation isn't fantastic but Tesseract is very very powerful.  Maybe worth a look or even merging together.  If it gets far enough I have my own functions for converting PDFs

[2015-08-11 18:10] sckott commented on #58
great :rocket:

[2015-08-11 18:30] sckott commented on #59
@abresler thanks for bringing this up

I started playing with a separate package to just do extraction from PDFs `extract`, and we have an open issue there for tesseract  https://github.com/sckott/extract/issues/5 - thx for pointing out duncan's pkg, i didn't know about that.

I think tesseract does fit in here, but only in the sense that we'll get it in extract, then import here as an option for

[2015-08-12 03:45] sckott opened #60 "Allow pass URL as first parameter to ft_extract()"
As alternative to file path, auto detect URL and all that...

Will need to download first for local methods and web APIs that dont allow URLs, but need file uploads -  to temp file, or optionally user specified path

[2015-08-17 16:34] willpearse opened #61 "Grabbing supplementary data from articles"
I've been idly messing around with a [package to pull out SI from papers (grabr) and load their data (phylogenies, CSVs, etc.) directly into R](https://github.com/willpearse/grabr/). It's not very clever, but it does work for quite a few journals and publishers (PLoS, Wiley, Figshare, some others) and I really like using it (who doesn't like their own code? :p).

Is this the sort of thing you'd li

[2015-08-17 17:42] sckott commented on #61
@willpearse Good idea - I don't think we've accounted for this, we've just focused on the text of the article.

I think it could fit in - perhaps as a function, or set of functions, that focus on fetching supplementary files.

Thoughts on fit @karthik @dwinter @cboettig @jennybc @richfitz

[2015-08-17 19:26] sckott commented on #61
Looks like we've discussed this use case before https://github.com/ropensci/fulltext/issues/3#issuecomment-52423692

@willpearse if you're okay sending a PR here, that'd be great, best if it would work like the other functions (e.g., if a user searchers for articles, then they could easily pass that output to your function(s) to get supp data [e.g. https://github.com/ropensci/fulltext/blob/master/

[2015-08-17 19:29] willpearse commented on #61
OK, thanks. I don't have a feeling for whether that's trivial or not
off-hand, but I'll take a look. Expect something from me in the next few
days...

On Mon, 17 Aug 2015 at 15:26 Scott Chamberlain <notifications@github.com>
wrote:

[2015-08-18 06:33] sckott commented on #61
Woops, didn't mean to close, reopened.

Sounds good

[2015-09-11 05:56] #61 closed

[2015-09-21 21:23] willpearse commented on #52
FWIW I've got this working for SI downloads now (...on my fork) which I'll PR once I've done a few other things...

[2015-09-21 21:29] sckott commented on #52
:+1: sounds great

[2015-09-28 20:51] sckott commented on #33
still broken as of 2015-09-28

[2015-09-28 20:51] sckott commented on #33
emailed again asking if there's any chance of a fix

[2015-09-29 00:18] sckott commented on #36
@dwinter working on this now. What's the best way to get data for many DOIs? Seems like we can do `10.1371/journal.pone.0086169[doi] OR 10.1016/j.ympev.2010.07.013[doi]`, but is that best practice?

[2015-09-29 01:19] sckott opened #63 "Make output column names all lowercase throughout"

[2015-09-29 16:17] dwinter commented on #36
Yeah -- if you start from dois you first have to search to get the pubmed IDs, and this is the best way.

FWIW, when I've been trying to think of ways to automatically generate the search syntax, the best I've come up with is

[code]
[code]

At some point, with very many DOIs the REST URL will get too long. I've never found any documentation for how long is too long, but `rentrez` should at least

[2015-09-29 17:47] sckott commented on #36
Right, that's the same way I combine the DOIs

Right, the URI too long code, 414 maybe

I could see with text mining use case how one may pass in far too many DOIs for the URI length restriction. Would be great to have a way around this :)

[2015-09-29 18:30] dwinter commented on #36
So, a bit of trial and error suggest "too long" is around 7000 chars. With these dois that's about 80.

[code]
[code]

[code]
[code]

So maybe the solution is to check that there aren't more than ~70 or so dois, and "chunk" the requests if there are more.

There might also be a problem with searching for multiple IDs -- there is no guarantee that the returned object is going have the records in th

[2015-09-29 19:26] sckott commented on #36
Thanks for looking into this!

Chunking sounds like the way forward.

I did notice that - that the returned data isn't the same length as the input, so I can't reliably attach the input DOIs to the output - but I didn't know DOI was also in there, I'll use that to reconstruct.

[2015-09-30 23:01] #63 closed

[2015-09-30 23:06] sckott commented on #36
@dwinter initial attempt commited, havent made any changed per our discussion above yet

[2015-10-01 17:40] sckott opened #64 "Re-think outputs of ft_get wrt each source"
Right now `ft_get()` gives back slots for a plos, entrez, bmc, elife, pensoft, arxiv, and biorxiv. However, many sources can be gotten via entrez and bmc (well, bmc journals that is).  Should the output have a named slot for the actual journal of the result, or if getting something via Entrez, just have it in the entrez slot in the output?

[2015-10-01 17:56] #48 closed

[2015-10-01 19:17] sckott commented on #36
Now Getting other plugins to work for a suite of publishers

[2015-10-01 23:49] sckott commented on #36
essentially implemented, will open new issues as needed for this fxn

[2015-10-01 23:49] #36 closed

[2015-10-02 00:21] dwinter commented on #36
Nice work! I will check out the details and play around with it this weekend if you want a tester :)

[2015-10-02 00:21] sckott commented on #36
yeah, plz do

[2015-10-13 23:50] sckott commented on #3
taken care of (i think) in `ft_get_si()` now

[2015-10-14 18:38] sckott opened #66 "In ft_links - define link generators for each publisher where not avail. elsewhere"
Crossref - Lots of publishers _can_ deposit full text links with crossref, but they just don't :disappointed:

Figure out the set of publishers where we can't get full text links in any way, For that set define generators to make full text links given a DOI

[2015-10-16 16:11] sckott opened #67 "Global settings"
https://github.com/CrossRef/rest-api-doc/issues/6#issuecomment-148687591

global setting option to let users determine what licenses they want to accept, and those they don't want.

could do on per request basis, but that seems less reproducible.

[2015-10-16 19:53] sckott opened #68 "ft_get_si behavior differs depending on inputs"
character input - works fine

[code]

ft_get input - works with numbers, not IDs

[code]

Same thing for output from `ft_search()`. But they both work passing in just numeric number, as you say in the docs. I wonder if this is intended?

[2015-10-16 19:53] sckott commented on #68
@willpearse

[2015-10-16 20:03] sckott opened #69 "ft_get_si file type"
Hi again @willpearse

Curious if output of `ft_get_si()` might be slightly more helpful to users if it contained some information about file type.

Looks like at least in one example, figshare, the plugin does get the file name and has the file extension in it:

[code]

Where we could get file type from that.

If we have file type, could add it as an attribute

[code]

Or create a lightweight S3 c

[2015-10-16 20:14] willpearse commented on #69
I think using attributes is a good idea: it would be simple to do, and I think you're right it would be useful.

I'd be somewhat concerned about making a class and then having some sort of dispatch, because by returning a plain ```character``` the output can be used in anything that loads a file. I'm not convinced it would reliably do that if we did something more complex; I could be convinced, of

[2015-10-16 20:16] willpearse commented on #68
I can't check right now, but I'm 99% sure it's related to how I index to get the right file from the vector.

For some of the plugins, I imagine I have been a bit... aggressive in my ```is.numeric``` / ```is.character``` -ing, and I'm happy to go back through and fix that up a touch!...

[2015-10-16 20:29] sckott commented on #68
thanks!

[2015-10-16 20:31] sckott commented on #69
I think you're right that simply adding an attribute is best. Thanks again :+1:

[2015-10-16 20:35] sckott commented on #69
i think you have to be a collaborator to assign you, added you to a team for this repo

[2015-10-17 15:21] alexgarciac opened #70 "search"
hi, I am using searchplos and it works fine. I load all the other libraries (entrez, arxiv, etc) which is the search function for those libraries? I mean searchplos('method', 'id,publication_date', limit = 5) how could I do the same against arxiv? or entrez?

[2015-10-17 15:43] sckott commented on #70
Thanks for the question @alexgarciac

Do you want to use those other sources themselves, or through this package?

[2015-10-17 15:47] alexgarciac commented on #70
thanks for the quick response. I dont mind, through this package or using those sources themselves makes no difference to me. once again thanks, and nice work.

[2015-10-17 15:57] sckott commented on #70
Doing it from this package:

[code]

Search many sources at once

[code]

There's more you can do, those are just brief examples.

Or, if separately, there is the `arxiv` package https://github.com/ropensci/arxiv and the `rentrez` https://github.com/ropensci/rentrez - that each have their own tutorials/examples

[2015-10-17 21:24] willpearse commented on #69
Great, thanks!

[2015-10-20 16:20] sckott commented on #70
@alexgarciac does the above help?

[2015-10-23 18:21] dwinter commented on #3
Hi @sckott , thought you might like to see a use case "in the wild". Using `ft_get_si()` in a reproducible workflow/example for `rotl` that we hope to reference in an MS about that package:

https://github.com/ropensci/rotl/blob/meta_analyses_eg/vignettes/meta-analysis.Rmd

[2015-10-23 18:44] sckott commented on #3
@dwinter awesome! Thanks. Any thoughts on how it could be better

[2015-10-23 18:53] dwinter commented on #3
Thanks to you and @willpearse for creating it -- a really helpful addition.

The only tiny snag I hit was the `readxl::read_excel` guesses file type by name (and you can't specify it format argument and the lower-level functions for each type aren't exported) . I don't know if it's possible, but if the file-path-like object returned by `ft_get_si` could maintain the extension that might be helpful

[2015-10-23 19:26] willpearse commented on #3
Thanks - this is useful to know, and I'll fix this in the next update. Great to know this is actually being used in the wild :D

We've discussed something similar to this, which I've written (but not merged) a solution to, so it should appear very soon. Thanks again!!!

[2015-10-24 00:55] sckott commented on #3
Thanks for the feedback @dwinter

[2015-10-28 18:58] willpearse opened #71 "Wiley website change --> hang on Wiley ft_get_si download"
A change in Wiley's site cases ```ft_get_si``` to hang. I've pushed a temporary fix to my repo, but I'll need to do something more permanent and PR it for here.

Sorry for any trouble this causes users!

[2015-10-28 19:02] sckott commented on #71
is it fix-able?

[2015-10-28 19:06] willpearse commented on #71
I see no reason it shouldn't be - I just don't have the time today to do it. The cheap fix (https://github.com/willpearse/fulltext/commit/361d5aec513b625b136c7352c1c58dd6ccb03f3a) was trivial; I don't see why their new design should be qualitatively different than any other sites we scrape.

[2015-10-28 19:21] sckott commented on #71
Okay. testing it out locally. Tests work, but some other Wiley DOIs don't work, e.g., http://onlinelibrary.wiley.com/doi/10.1111/ele.12468/full gives

[code]

but maybe I'm doing it wrong?

[2015-10-28 23:20] willpearse commented on #71
Me too. I'll look into this; I'm still optimistic...

[2015-11-04 02:21] sckott opened #72 "Package name change"
This package name makes sense in that it does what it says in the name, but it's super hard to search for on google/github/etc. I think ideally we should have something that is meaningful, but more importantly unique and not a common word so we can easily find mention of its use. There is the issue of changing name on CRAN, but i think it's worth it. it's still early days

other options:

* `prosp

[2015-11-04 02:27] karthik commented on #72
I agree with the general idea. Something close to the general purpose would still be helpful. Prospectr could apply to just about anything.

[2015-11-23 18:42] sckott opened #74 "American Physical Society"
They have web services: http://harvest.aps.org/

some auth involved http://harvest.aps.org/docs/harvest-api#authentication not sure yet what can be accessed with no auth

[2015-11-25 17:24] sckott commented on #74
e.g., curl request

[code]

Only going to work for OA articles for now

They are working on being involved in crossref TDM, but nothing yet

[2015-11-29 15:04] pkraker commented on #46
This would be very helpful. The MWE for searching and retrieving seems to be working only for PLOS.

    (res1 <- ft_search(query = 'ecology', from = [source])
    (out <- ft_get(res1))

[2015-11-29 15:31] pkraker opened #75 "Use case: Create overview visualizations based on full text similarities on the fly"
I would like to use your package to create overview visualizations using full text similarities for different sources on the fly. I have implemented a prototype for PLOS using the rplos package here: http://openknowledgemaps.org/mozfest/ (source repo: http://github.com/pkraker/Headstart)

Speed is key in this use case. Experimenting with rplos, I found that the fastest way to do this is to get the

[2015-11-29 16:38] sckott commented on #46
Okay, will try to get this done soon.

@pkraker  Can you open issues with the problems you run in to?

[2015-11-29 17:35] sckott commented on #75
Good idea, and nice app :)

PLOS will likely be the fastest as one can get full text, or any part of a paper, directly from their Solr engine (as you have done), whereas with I think all others we need to download either XML, PDF, or plain text, parse it, then return the text. And extracting text from PDFs will be the slowest I imagine. For speed reasons, using PLOS for your app seems best, esp if

[2015-11-30 12:47] pkraker commented on #46
@sckott Thanks, will do!

[2015-12-02 01:37] sckott commented on #71
closed from #73

[2015-12-02 01:37] #71 closed

[2015-12-02 01:40] sckott commented on #70
closing due to inactivity

[2015-12-02 01:40] #70 closed

[2015-12-02 01:40] sckott commented on #68
@willpearse any thoughts on this?

[2015-12-02 01:41] sckott commented on #69
@willpearse I think this is sorted now, right?

[2015-12-02 01:54] sckott commented on #72
* `leximiner` - play on lexicon - only 5 results on google scholar

[2015-12-02 02:20] sckott commented on #5
This pkg is complex enough that if we do viz, I think it belongs in a diff. package

[2015-12-02 02:20] karthik commented on #5
:+1:

[2015-12-02 02:24] sckott commented on #5
closing

[2015-12-02 02:24] #5 closed

[2015-12-02 02:26] sckott commented on #3
closing, open issues for individual use cases

[2015-12-02 02:26] #3 closed

[2015-12-02 02:27] sckott opened #76 "Identify under-studied parts of the tree of life"
From @fmichonneau

[2015-12-02 03:16] willpearse commented on #69
Yep! Thanks Scott!

[2015-12-02 03:39] willpearse commented on #68
Right, this is as "intended", but perhaps confusing... ```ft_data``` and ```ft_search``` ignore (with a warning, as in your example) any ```from``` argument. Thus while the DOIs are the same in both examples, the actual calls are different.

I can't remember precisely why I did this, but it's defensively written and I know I did it on purpose. I sense it's because ```ft_data``` and ```ft_search```

[2015-12-02 06:54] sckott commented on #69
cool, thx

[2015-12-02 06:54] #69 closed

[2015-12-02 19:41] sckott commented on #68
Okay. Maybe we can have `ft_get_si` fail better, I like it when we can fail well.

Another question: In the man file for the `from` param you have

can you make clear in what cases you should use the `from` param in `ft_get_si` ?

[2015-12-03 00:41] willpearse commented on #68
Done and done https://github.com/willpearse/fulltext/commit/2f724e842761c6806e1254cf6a3de78c3ae62dbd

[2015-12-03 10:19] pkraker commented on #75
Thanks for your feedback :+1: As for Solr vs. XML vs. PDF: I will have to try. I guess it depends on the end result whether the user will be willing to wait for, say, 2 or 3 minutes. But I had hoped that some other providers adopted the Solr approach by PLOS.

Ideally, it would work across publishers. The best bets for that are probably Crossref and Pubmed (within the disciplines that Pubmed serve

[2015-12-03 17:08] sckott commented on #68
PR?

[2015-12-03 17:13] willpearse commented on #68
Done! It's small; hopefully it's fine :D

[2015-12-03 18:24] sckott commented on #68
closed from #77

[2015-12-03 18:24] #68 closed

[2015-12-03 19:28] sckott commented on #75
not that I know of. That brings up a good opportunity for a 3rd party to grab OA articles, and allow users to grab sections of articles to make mining faster. Don't know of anyone doing it though.

Good idea, Entrez, via the `rentrez` package used in this package gives access to pubmed. Crossref is just used for search, so to get full text you need to download from each publisher, but you can filt

[2015-12-23 21:09] sckott opened #78 "Make vignette with publisher specific egs"
perhaps table, and descriptions if needed for each publisher, could be quite long though

[2016-01-20 20:29] fmichonneau opened #79 "issue with win-builder?"
For some reason this (from one of the [rotl](https://github.com/ropensci/rot) vignettes) fails on win-builder (but not on my linux boxes). I don't know if it's because of an intricacy with win-builder or that something is wrong with fulltext.

[code]

[2016-01-20 20:34] sckott commented on #79
What is the error?

[2016-01-20 20:43] fmichonneau commented on #79
Here is the error:

[code]

[2016-01-20 20:45] sckott commented on #79
thx, looking

[2016-01-20 20:57] sckott commented on #79
Yep, I get the same error with the CRAN version   - however, fixed in the current github dev version. maybe it was this PR #73 - not sure

paging @willpearse as he made the fix

maybe I'll spin up a new milestone for a patch version to push to CRAN - i assume it's best if this is fixed soon so `rotl` doesn't have to deal with the error @fmichonneau

[2016-01-20 21:16] fmichonneau commented on #79
Great, good to know that it's already fixed!

I need to submit rotl to CRAN (following the request to one of the maintainers) soon, but I suspect we will submit another version once we get the reviews back from the manuscript (if we ever get them back...)

[2016-01-20 21:17] sckott commented on #79
when?  I can submit a patch version to CRAN before you submit if you want

[2016-01-20 21:20] willpearse commented on #79
...I'm checking it on a friend's Windows computer now...

[2016-01-20 21:31] willpearse commented on #79
All good, works fine using the GitHub version @fmichonneau , so patch away @sckott

...which is more than I can say for the ease of installing ```devtools ``` et al. on a PC, but that's a rant for another time/day...!

[2016-01-20 21:52] sckott commented on #79
glad it works on the pc.

[2016-01-20 22:46] fmichonneau commented on #79
Thanks for being so responsive.

Yes, if you are ready for a patch release on CRAN that would be great!

[2016-01-20 23:32] sckott commented on #72
@dwinter @willpearse what do you think about the name `leximiner`  (or `lexminer`)

[2016-01-20 23:32] sckott commented on #79
okay, new milestone https://github.com/ropensci/fulltext/milestones/v0.1.6 will go soon

[2016-01-20 23:42] willpearse commented on #72
Personally, I liked ```fulltext``` and the package has already got downloads as that, so I'm not 100% behind changing. That said, I'm not the lead, so I'm happy with whatever you're happy with.

My comment would be that ```leximiner``` doesn't cover the downloading of SI, which is both one of the use cases and is the reason we're pushing to get a new version on CRAN. The same could, of course, be

[2016-01-21 17:19] sckott commented on #72
Yeah, it's less good now to change name that it's on CRAN.  Right, I guess my proposed name doesn't seem to include supplementary materials.  `grabr` is a good name. Maybe it's best to stock with the current name. lets do that

[2016-01-21 17:19] #72 closed

[2016-01-21 23:47] sckott commented on #79
submitting soon, closing

[2016-01-21 23:47] #79 closed

[2016-01-22 01:09] sckott commented on #79
https://github.com/ropensci/fulltext/releases/tag/v0.1.6 sent to cran

[2016-01-30 17:37] fmichonneau commented on #79
Sorry, but it looks this still hangs on win-builder both with R 3.2.3 and R-devel (at least on the 32-bit architecture).

[code]

with R-devel

[code]

[2016-01-31 18:12] willpearse commented on #79
Thanks for this, but I think the problem is with ```readxl::read_excel``` and not ```fulltext```. I ran your package through win-builder changing the offending line in the vignette to only include ```ft_get_si``` (...and then deleting the rest of the vignette), and it passed the win-builder build with no problems. You can see for yourself here: http://win-builder.r-project.org/i43SI6RN9P4u/

Openi

[2016-01-31 18:24] fmichonneau commented on #79
Thanks for looking into it @willpearse. You'd think reading Excel files would be the easiest on Windows :) I'll investigate further.

[2016-01-31 18:29] willpearse commented on #79
...I see your point :D Glad I could help...

[2016-02-05 20:51] sckott opened #81 "BMC API down, need to rework using Springer API"
docs: https://dev.springer.com/documentation

[2016-02-26 23:58] sckott opened #82 "Use pdftools for pdf extraction"
on CRAN binaries almost there

https://github.com/ropensci/pdftools

maybe wrap pdftools in extractr at some point, but pdftools may be the best tool, in which case just use it here...

[2016-03-30 12:21] benmarwick commented on #81
Is this related?

[code]

[2016-03-30 13:03] sckott commented on #81
yeah, i really need to get this sorted out asap :)

[2016-03-30 18:46] sckott commented on #81
i think i got search fixed, but fetching articles is a hot mess because they recently merged into Springer, and now things are changed again and doesn't look like there's any XML provided. Looks like we can get XML via

* their FTP server at ftp://ftp.biomedcentral.com/articles/ - e.g., ftp://ftp.biomedcentral.com/articles/2049-2618-2-7.xml - though doesn't look like they have recent papers in the

[2016-03-30 18:52] sckott commented on #81
@benmarwick okay, can try again after installing from a new branch `devtools::install_github("ropensci/fulltext@bmc-fix")`

search is fixed, but not fetch `ft_get`

[2016-04-07 10:56] benmarwick commented on #81
I'm getting 'Error: you need a user name for the Springer/BMC API'... How might I proceed?

[2016-04-07 14:29] sckott commented on #81
let me check

[2016-04-07 14:46] sckott commented on #81
@benmarwick okay, try again after re-installing, BMC is inside springer now, and they require an API key, added a new param to pass in a key, though not needed when not searching BMC

[2016-04-14 19:36] sckott commented on #81
I'm going to remove BMC as an option from `ft_get` for now - They are a hot mess, esp. now that they are within Springer, - can't seem to find XML for papers anymore, and Springer has a maze of URLs from the landing article page to get to a pDF, maybe will add back later.

[2016-04-14 19:54] #81 closed

[2016-04-14 19:54] sckott opened #84 "allow curl options to ft_get_si"

[2016-04-14 20:34] sckott opened #85 "ft_get_si figshare broken i think"
@willpearse

e.g., this url https://figshare.com/articles/Catching_crabs_a_case_study_in_local_scale_English_conservation/979288

the internal functions to get the urls for the files seem to be broken. I imagine they've reworked those pages. they know have a blob of JSON at the bottom e,g, could do this

[code]

[2016-04-15 00:12] willpearse commented on #85
Thanks for this. I'm snowed under right now, so it may be a few days before I get to it. It looks very fixable - thanks for the suggestion :D

[2016-04-15 17:51] sckott commented on #85
cool

[2016-04-23 22:47] #85 closed

[2016-05-21 20:42] sckott commented on #59
@jeroenooms is working on a wrapper https://github.com/jeroenooms/tesseract - is it useable yet Jeroen?

[2016-05-23 14:26] sckott opened #87 "Fix BMC in ft_search"
Need to use new springer base APIs for bmc

[2016-05-26 09:42] sckott opened #88 "possibly use dessem.in to look for OA versions of a DOI a user wants to get"
e.g.,

[code]

[2016-05-26 09:42] sckott commented on #88
this isn't super fast, but maybe fast enough...

[2016-05-26 14:49] sckott commented on #88
not a lot of coverage though ... may not be useful

[2016-07-18 16:41] poldham opened #89 "In ft_search dplyr rbind_all deprecated use bind_rows message."
Hi Scott,

In case you haven't spotted it yet, rbind_all is now deprecated and ft_search is producing the following error.

res <- ft_search(query='ecology', from=c('plos','crossref','arxiv'))
Error: `rbind_all()` is deprecated. Please use `bind_rows()` instead.
In addition: Warning message:
`rbind_all()` is deprecated. Please use `bind_rows()` instead.

I think the same issue is also arising in r

[2016-07-18 17:10] sckott commented on #89
Thanks for the report @poldham - I'll get this sorted out, and the rcrossref thing

[2016-07-18 17:22] sckott commented on #89
@poldham what's your session info?

[2016-07-18 19:30] poldham commented on #89
Scott it is

RStudio (preview) Version 0.99.1259

Session info is

R version 3.3.1 (2016-06-21)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: OS X 10.10.5 (Yosemite)

locale:
[1] en_GB.UTF-8/en_GB.UTF-8/en_GB.UTF-8/C/en_GB.UTF-8/en_GB.UTF-8

attached base packages:
character(0)

other attached packages:
[1] dplyr_0.5.0

loaded via a namespace (and not attached):
[1] rsconnect_0.4.3 g

[2016-07-18 20:24] sckott commented on #89
Can you edit above with session info for after you load `fulltext`

[2016-07-18 20:28] sckott commented on #89
that may be coming from a a number of different `fulltext` dependencies

[2016-07-18 20:43] sckott opened #90 "require newest rcrossref version to avoid dplyr bind_rows error"

[2016-07-18 20:44] sckott commented on #59
closing this here, we'll use J's package once it ready inside `extract` pkg probably, then use that here

[2016-07-18 20:44] #59 closed

[2016-07-19 08:22] poldham commented on #89
Here you go. I compared the fulltext dependencies with those of rcrossref (0.5.2) and the only difference I can see is rcrossref as a dependency in fulltext. That suggests that maybe it is rcrossref as the source. rcrossref session info pasted below fulltext.

RCROSSREF Session Info

sessionInfo(package = "rcrossref")
R version 3.3.1 (2016-06-21)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Runnin

[2016-07-20 16:12] poldham commented on #89
Ok many thanks, happy to download and test as planning to demo this in some training next week.

[2016-07-20 19:12] sckott commented on #90
sent to CRAN https://github.com/ropensci/rcrossref/releases/tag/v0.5.4 - depend on new version now

[2016-07-20 19:15] #90 closed

[2016-07-20 19:31] sckott commented on #89
@poldham `rcrossref` was sent to CRAN about 1 hr ago, install `fulltext` from Github and it should install dev `rcrossref` from github since we're using `Remotes` in descriptino file

[2016-07-20 21:31] sckott commented on #89
on CRAN just now, binaries should all be up sometime tomorrow probably

[2016-07-21 16:34] poldham commented on #89
Thanks Scott,

Downloaded dev version as not on cran yet. crossref now seems ok. Note that rbind_all issue also occurs in rplos pkg

rplos example

pizza <- rplos::searchplos(q = "pizza", fl = c("id","publication_date", "title", "abstract"), limit = 20)
Warning: `rbind_all()` is deprecated. Please use `bind_rows()` instead.

fulltext example

res1 <- ft_search(query='ecology', from='plos')
Warning

[2016-07-21 16:36] sckott commented on #89
thanks, and right, fixed in https://github.com/ropensci/rplos/issues/105, not on CRAN yet though - i'll push that one to CRAN as well

[2016-07-21 19:42] sckott commented on #89
@poldham Okay, `rplos` off 2 CRAN just now - anything else?

[2016-07-21 20:53] poldham commented on #89
All good I think Scott. Many thanks! Paul

[2016-07-21 20:53] sckott commented on #89
okay, thanks

[2016-07-21 20:53] #89 closed

[2016-07-21 23:12] sckott commented on #89
rplos on CRAN now, binaries within a day or so

[2016-07-22 22:43] sckott opened #91 "FrontiersIn blocks programmatic PDF requests"
They do provide XML though, so maybe not a huge deal, but to get around, we can use copy as curl from Chrome and e.g., to get pdf from http://journal.frontiersin.org/article/10.3389/fchem.2016.00004/full

we can use

[code]

we just need the `Referer` header

[2016-07-23 01:49] sckott opened #92 "curl options still not passed on in ft_get_si"

[2016-07-23 05:40] #92 closed

[2016-11-23 13:20] fgabriel1891 opened #93 "Issue when retrieving recently publised data"
I'm getting this error message when using the ft_get function. I'm trying to download all the articles passed from ft_search and I get the following:

Error: `out$headers$`content-type` == "text/xml"` is not TRUE

I pass the function to the list of DOI's with a loop to identify if the problem is a determined DOI and the function got stuck in this particular publication

10.1371/journal.pone.016682

[2016-11-23 16:47] sckott commented on #93
thanks @fgabriel1891 for your report - does appear to be a bug at least with that DOI. any more problems with other DOIs?

[2016-11-23 17:00] fgabriel1891 commented on #93
No, I downloaded 100+ articles without a problem once I erased that
particular DOI from my list to download.

BTW, excellent work with this and all ropensci packages, are of much help
to implement a "semi - automated mining of species interactions from
literature" for my research. Congrats!

Best,
Gabriel

2016-11-23 17:47 GMT+01:00 Scott Chamberlain <notifications@github.com>:

[2016-11-23 17:42] sckott commented on #93
@fgabriel1891 thanks for the kind words!

have to make a fix in a dependency package `rplos` - going to submit to CRAN today, but in meantime, you can install from github `devtools::install_github("ropensci/rplos")` and it should work for you now

[2016-11-23 17:45] fgabriel1891 commented on #93
Thanks!

New update: With the CRAN version I found the same issue with this DOI http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0163338, again recently published in PLOS.

I will install the git-hub version to test it

[2016-11-23 17:47] sckott commented on #93
thanks, that one works with the new version

[2016-11-23 17:51] fgabriel1891 commented on #93
Yeap, it works :) Many thanks!!

[2016-11-23 20:05] sckott commented on #93
new rplos sent to cran

[2016-11-23 20:05] #93 closed

[2017-01-04 22:32] sckott opened #94 "cogentOA is now part of Taylor Francis"
http://api.crossref.org/members/301

affects the custom parsers for Cogent possibly

[2017-02-08 16:46] sckott opened #95 "add scopus"

[2017-02-08 16:46] sckott opened #96 "need an elsevier plugin for ft_get"
crossref member `78`

[2017-02-09 10:18] sckott opened #97 "biorxiv search is broken"
they must have changed the html on their page

[2017-02-10 11:03] sckott opened #98 "ft_abstact: for abstracts"
- [x] scopus
- [x] microsoft
- [x] crossref
- [x] plos
- [ ] maybe europe pmc

others i don't think make sense

[2017-02-11 07:38] sckott opened #99 "microsoft academic"
- [x] `ft_search`
- [x] `ft_abstract`

both of these don't makes sense for MA, as there's no full text links, its more like google scholar - no way to search by DOI or even by MA id, giving up

- ~~ `ft_get` ~~
- ~~ `ft_links` ~~

[2017-02-11 08:18] #95 closed

[2017-02-11 08:18] #97 closed

[2017-02-11 19:58] sckott opened #101 "Vignette covering meta-analysis use cases"
* `ft_search` -> `ft_abstract`
* manually read abstracts
* fetch full text with `ft_get`

others...

[2017-02-11 19:59] sckott opened #102 "Vignette to make permissions as clear as possible for the various fxns"

[2017-02-11 20:35] #82 closed

[2017-02-11 20:48] sckott commented on #60
clearing milestone for now, not sure want to complicate things more

[2017-02-12 08:49] sckott commented on #98
related to #99

[2017-02-24 01:02] sckott opened #103 "ft_links -> ft_get"
not sure why we don't have a S3 method in `ft_get` for `ft_links` output - weirdness

exploring

[2017-02-27 06:30] sckott opened #104 "replace httr with crul"

[2017-03-14 22:47] afredstonhermann opened #105 "error from ft_get with multiple sources"
Thanks for designing this awesome package, it's incredibly useful for my research!

I'm getting an error from running ft_get on the output of ft_source when it uses multiple data sources (see below). Is it possible to use that function to fetch full texts of documents from multiple data sources simultaneously? (And if not, is there a good workaround to combine the outputs of multiple ft_get comman

[2017-03-14 23:12] sckott commented on #105
thanks for your report @afredstonhermann !

First, i recommend using the development version from github (`devtools::install_github("ropensci/fulltext")`)

Second, turns out to be a 🐞 . get back to you in just a few

[2017-03-15 00:23] sckott commented on #105
Just a note about crossref: So crossref is a tough one. Most of the full text links we can get from Crossref are for very much paywalled articles. So if you don't have the right authentication setup, you will get part way through and then it will fail on you. I'm working on this, but not really done yet.

[2017-03-15 05:50] sckott commented on #105
@afredstonhermann okay - reinstall and try again  `devtools::install_github("ropensci/fulltext")`

crossref still probably won't work for you, but at least it should fail better now

[2017-03-15 17:57] afredstonhermann commented on #105
Thank you so much! I'm working on a server that hates `devtools::install_github()` but I'll try this again once I get `fulltext` up and running. And I'll take `crossref` out - I'm on UC internet so I should have legal access but it sound pretty complicated regardless. Thanks again.

[2017-03-16 15:53] sckott commented on #105
@afredstonhermann you can try installing like

`install.packages("fulltext", repos = "http://packages.ropensci.org")`

using our drat (it's like a CRAN mirror, but based on a github repository) http://packages.ropensci.org/

[2017-03-16 21:01] afredstonhermann commented on #105
Worked perfectly, and the `ft_get` bug is resolved. Thanks so much.

Apparently the UCSB RStudio server I use prevents users from installing packages that rely on external libraries. Once I flagged this for our sysadmin they installed the libraries required by `fulltext` allowing me to freely install and update the package on my end. Just FYI.

[2017-03-16 21:14] sckott commented on #105
Great, glad it works now!

Any other issues? requests?

[2017-03-16 22:11] afredstonhermann commented on #105
Nothing comes to mind, just gotta start coding ;) Thanks so much - I'll put in another issue if I think of anything.

[2017-03-16 22:12] sckott commented on #105
okay, thanks!

[2017-03-16 22:12] #105 closed

[2017-04-03 17:33] sckott opened #107 "replace xml_find_one -> xml_find_first throughout pkg"

[2017-04-03 17:40] sckott commented on #16
nah, closing

[2017-04-03 17:40] #16 closed

[2017-04-03 17:41] sckott commented on #17
not sure what this is about now, will address if problems arise

[2017-04-03 17:41] #17 closed

[2017-04-03 17:42] sckott commented on #30
seems out of scope now that the pkg is more mature - this is something users may want to do downstream of course, but i don't think we want to import here

[2017-04-03 17:42] #30 closed

[2017-04-19 11:40] andrewrech opened #108 "Enhancement: EZproxy redirect for full text"
Hello,

Thanks for developing this fantastic package!

Has anyone thought about implementing optional EZproxy re-direction for full text? If not, I will have a go at it.

This [database of EZproxy links](https://github.com/tom5760/ezproxy-db) could be used to create GET requests.

Thanks,
Andrew

[2017-04-19 16:31] sckott commented on #108
@andrewrech thanks for the kind words.  don't think it's been considered here yet. can you explain a little about how EZproxy works and what it achieves (i've heard of it, but don't really know what it does)

[2017-04-20 14:04] andrewrech commented on #108
[EZproxy](https://en.wikipedia.org/wiki/EZproxy) is a web proxy server used by many libraries, such as at my academic institution, to provide access to restricted full-text resources. URLs are re-directed to an EZproxy server that allows user authentication and then full-text access via the authenticated user's' library system.

It is pretty popular at academic libraries and access via this mechan

[2017-04-20 19:06] sckott commented on #108
Thanks for the explanation @andrewrech

Can this workflow be completely automated (maybe they use Oauth or so)? Or is there some manual step?

[2017-04-22 12:21] andrewrech commented on #108
Hi @sckott,

I think, actually, this will be difficult to automate, as auth will need to follow the EZproxy server owners' protocol, which will differ in each case. So a web prompt would likely be required. So perhaps not a good fit for this package.

[2017-04-23 20:07] sckott commented on #108
Maybe there are some auth protocols that are easier than others to deal with.

When OAuth is used in R, it does open a web page and often requires user to click agree or so, so i think that is okay.

Are there any example EZProxy setups to play with in R so we can get a sense for how this would go?

[2017-04-24 20:58] sckott commented on #42
https://cran.rstudio.com/web/packages/storr/index.html

[2017-04-24 20:59] sckott commented on #22
out of scope

[2017-04-24 20:59] #22 closed

[2017-04-24 21:00] sckott commented on #8
closing for now, open issues as needed for fixes/features

[2017-04-24 21:00] #8 closed

[2017-04-26 07:07] sckott opened #109 "elsevier now with rate limit headers"
try for scopus plugins to see if they're there and can be used

[2017-04-27 12:50] andrewrech commented on #108
I don't think so.

If I want to access the full text of this [new](http://www.nature.com/nature/journal/vaop/ncurrent/full/nature22047.html) article,

`http://www.nature.com/nature/journal/vaop/ncurrent/full/nature22047.html`

gets redirected via EZproxy to

`https://proxy.library.upenn.edu/login?url=http://www.nature.com/nature/journal/vaop/ncurrent/full/nature22047.html`

which prompts for my lo

[2017-04-27 18:20] sckott commented on #108
Okay, thanks. Still haven't really looked into this yet, will report back when I do

[2017-06-05 16:43] LucyMcGowan opened #110 "biorxiv_search() seems to only query the top page's articles, regardless of input limit"
When I run `biorxiv_search()` regardless of the limit I input, it only seems to return articles from the first page (the first 30), for example when I run:
[code]
`search$data` it contains 30 unique articles.

But if I bump the limit up to 40, `search$data` claims to contain 40 articles, but only 30 are unique.

[code]
**edited to reflect actual problem**

[2017-06-05 17:17] sckott commented on #110
thanks @LucyMcGowan 😸  - will get back to you soon on this 🐛

[2017-06-05 17:19] LucyMcGowan commented on #110
thank you, @sckott! your emoji game is 💯🎉

[2017-06-05 17:35] LucyMcGowan commented on #110
I think it might be [here](https://github.com/ropensci/fulltext/blob/master/R/bio_utils.R#L26-L36) - it doesn't pass `w`, it is passing just using `html` which I believe is just the response from the original pull (without the subsequent pages if limit > 30). The reason I was just seeing 6 (I think) is because I was doing a most recent pull and some of the DOIs haven't been registered for papers p

[2017-06-06 22:19] #110 closed

[2017-06-07 00:28] sckott commented on #110
there's still some weirdness going on, looking at it - not really a bug i think, will explain in a sec

[2017-06-07 00:33] sckott commented on #110
changes in 26766c5500bacb75d4f74daaf75a601c879b2e0c

@LucyMcGowan updated docs with date start and end params - and added description of why results are the way they are - let me know if it does or doesn't make more sense now

[2017-06-07 02:40] LucyMcGowan commented on #110
👍 the `html` -> `w` was a bug though, yes?

[2017-06-07 02:44] sckott commented on #110
Yes
On Tue, Jun 6, 2017 at 19:40 LucyMcGowan <notifications@github.com> wrote:

[2017-06-07 02:46] LucyMcGowan commented on #110
oh I see, you're clarifying why sometimes the output is < the input limit even if biorxiv finds them all (since it's querying crossref) - the updated docs make sense -- thank you @sckott! 🎉

[2017-06-07 15:56] sckott commented on #110
Yes! thanks for the issue and the PR

[2017-06-12 21:33] zkamvar opened #112 "Uninformative error with newer DOI"
Hello,

I am experiencing an issue with a new DOI, so this may be related to #49, but I'm getting an uninformative error trying to use `ft_get()` with a newer DOI: [10.1094/PHYTO-12-16-0425-RVW](http://apsjournals.apsnet.org/doi/10.1094/PHYTO-12-16-0425-RVW). Moreover, if I have this in a list with established DOIs, it returns the same error and doesn't attempt any further parsing.

[code]

<detai

[2017-06-12 22:32] sckott commented on #112
thanks for the issue @zkamvar

first of all, there's been some changes since that version on CRAN that you are using. You still get an error with the current version on github, but it's somewhat useful:

[code]

looks like that papers is paywalled, but maybe you have access through your institution?

the long answer is:

right now in the package, we have a handful of sets of rules for publishers f

[2017-06-12 22:36] zkamvar commented on #112
Hi @sckott,

Thanks for the quick reply and informative answer! I guess since you gave this issue a tag and a milestone that I should leave it open?

[2017-06-12 23:44] sckott commented on #112
i don't remember if we had an issue related to this change in behavior so leaving it around as a marker to remind me

[2017-07-21 23:27] sckott opened #113 "biorxiv_search broken"
thus is the shite-ness of scraping

[2017-07-21 23:59] #113 closed

[2017-09-22 06:12] sckott opened #115 "Fix microsoft abstract option"
they give back an inverted abstract now, with words mapped out to how many times used, etc.

need to put back together

[2017-09-29 16:15] sckott commented on #115
use cran version microdemic now https://cran.rstudio.com/web/packages/microdemic/

[2017-10-15 13:57] sinandrei commented on #4
Scopus provides full-text api for Science Direct with api keys. Would you consider including that?

[2017-10-15 18:53] sckott commented on #4
@sinandrei we have included Scopus now, see `ft_abstract`, `ft_search`, and `ft_get`

[2017-10-16 21:18] sinandrei commented on #4
@sckott indeed. cool!. Am I right in thinking that the chunking for the elsevier material is not yet implemented?

[2017-10-16 21:37] sckott commented on #4
what do you mean by chunking?

[2017-10-16 21:49] sinandrei commented on #4
the x %>% chunks("publisher") %>% tabularize() type syntax did not return
any values for my elsevier type ft_gets()

On Mon, Oct 16, 2017 at 11:37 PM, Scott Chamberlain <
notifications@github.com> wrote:

[2017-10-16 21:51] sckott commented on #4
can you open a new issue with a reproducible example. this is getting off topic of this issue

[2017-10-16 22:31] andreifoldes opened #116 "empty chunks for elsevier articles"
I tried to fetch some OA Scopus papers, but the chunks section never returns any values unfortunately.

<details> <summary><strong>Query</strong></summary>

[code]
</details>

<details> <summary><strong>Session Info</strong></summary>

[code]

</details>

[2017-10-16 22:36] andreifoldes opened #117 "no plugin for Crossref member 8215 yet"
<details> <summary><strong>Query</strong></summary>

[code]
</details>

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2017-10-17 22:40] sckott commented on #117
thanks @sinandrei

as you can see from this request for that DOI http://api.crossref.org/works/10.1016/j.apoet.2015.06.002 that there is no URL for full text

it does give https://revistas-filologicas.unam.mx/acta-poetica/index.php/ap/article/view/466/470 URL - In this case it is also the URL for the pdf, which is weird and unusual.

basically, when it's not clear what the URL is for the full text

[2017-10-17 23:57] sckott commented on #116
Thanks @sinandrei

if you look at the output of `x` there was an error

[code]

will look into further

[2017-11-11 01:23] sckott opened #118 "chunks: fill in toggles for elsevier papers"

[2017-11-11 17:30] #118 closed

[2017-11-11 17:33] sckott commented on #116
@sinandrei try again after reinstalling like `devtools::install_github("ropensci/fulltext")` & you need to set a authentication key by doing `Sys.setenv(CROSSREF_TDM = "your key")` or you can put it in your `.Renviron` file (see `?Startup` for help on that)

if you don't have it yet, you can get the Crossref text and data mining (TDM) key by going to https://apps.crossref.org/clickthrough/research

[2017-11-28 13:53] andreifoldes commented on #98
Hi there - wouldn't this be useful for crossref as well? They have abstract in some cases don't they?

[2017-11-28 13:57] andreifoldes opened #119 "Pagination of results"
Hello,

My question: let's say my crossref query find more than 1000 records - how can "page" through all the returned findings?

[2017-11-28 18:01] sckott commented on #119
thanks for your question - what function are you referring to, and please share your `sessionInfo()`

[2017-11-28 18:04] sckott commented on #98
@andreifoldes right, they do sometimes have abstracts. as of right now, looks like Crossref has ~1% of papers with abstracts, though that's still about 1.5 million, so probably worth doing. I'll work on adding it in.

[2017-11-28 18:14] andreifoldes commented on #119
So the idea is that I return only a subsample of total resultset (in this case 1000 out of 148088), but one would like to go through the other results as well.
e.g.:
`res1 <- ft_search(query = 'psychology', from = 'crossref', limit = 1000)`

sessionInfo()
---
R version 3.4.2 (2017-09-28)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 16.04.3 LTS

Matrix products: default
BLAS: /usr/l

[2017-11-28 19:08] sckott commented on #119
let me know if that doesn't work for you

[2017-11-28 23:02] andreifoldes opened #120 "no plugin for Crossref member 311 yet"
[code]

<details> <summary><strong>Session Info</strong></summary>
R version 3.4.2 (2017-09-28)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 16.04.3 LTS

Matrix products: default
BLAS: /usr/lib/libblas/libblas.so.3.6.0
LAPACK: /usr/lib/lapack/liblapack.so.3.6.0

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C               LC_TIME=de_DE.UTF-8        LC_COLLATE=en_US.UTF-8
 [5]

[2017-11-29 00:04] andreifoldes opened #121 "unusual result for full text search"
The following article was returned from a has_full_text search and when separate full text search was initiate for said article, the result was just jibberish xml
[code]
[[1]]
[1] "<!doctype html>\n<html class=\"x-scroll-hidden\">\n<head>\n  <meta name=\"google-site-verification\" content=\"zpewMbJ3Bmee9bnzRiTI70sRj-hHybQjt5mOq5XdFvs\" />\n<link href=\"/static/bundle_a204e5a1da6e2dfe84a4-1.css\" r

[2017-11-29 00:18] sckott commented on #120
right, there is not. a while back Wiley had very very low % coverage in terms of full text links shared with Crossref, so we had no easy way to get full text URLs. Looks like they are now up to 94% of articles have a URL, so enough to include them

[2017-11-29 00:41] sckott opened #122 "Add function to get available plugins for `ft_get`, `ft_links`, and `ft_search`"
scraping function names in the pkg - so that documentation doesn't accidentally get out of sync with what pkg has

[2017-11-29 01:24] sckott commented on #121
there appears to be no PDF for that DOI http://www.tandfonline.com/doi/pdf/10.1174/02134749660569378

the publisher is Taylor/Francis (part of Informa). They don't participate in the text and data mining crossref program.

so for this publisher (member 301) it all depends on if you have access or not through your institution.

I tried curling a pdf I have access to on the command line and it error

[2017-11-29 01:49] sckott commented on #120
okay, have wiley support mostly done, but that particular DOI in your example above is a nasty one, for some reason it's not working anywhere, so hopefully that's an exception.

[2017-11-29 01:54] #120 closed

[2017-12-01 20:17] sckott opened #123 "document option to include email address for Crossref queries"
https://github.com/ropensci/rcrossref/pull/145

[2017-12-02 00:51] sckott commented on #98
@andreifoldes reinstall `devtools::install_github("ropensci/fulltext")` and see the docs for `ft_abstract`

[2017-12-04 23:10] #115 closed

[2017-12-06 03:26] #42 closed

[2017-12-06 03:26] sckott opened #124 "Use hoardr for caching files"
for `ft_get` and any others

[2017-12-06 03:27] sckott commented on #98
closing, good for now

[2017-12-06 03:27] #98 closed

[2017-12-06 03:28] sckott commented on #66
should be solved eventually by ongoing work in https://github.com/ropenscilabs/pubpatterns and https://github.com/ropenscilabs/pubpatternsapi - moving to later milestone fo rnow

[2017-12-06 03:30] sckott commented on #96
working now

[2017-12-06 03:30] #96 closed

[2017-12-06 03:32] sckott commented on #52
good for now, have in `ft_search` - could add to `ft_get`/others possibly, but can come back to that if users request

[2017-12-06 03:32] #52 closed

[2017-12-06 23:46] #116 closed

[2017-12-07 00:44] #112 closed

[2017-12-07 00:46] sckott commented on #54
closing this b/c just using `pdftools` internally now

[2017-12-07 00:46] #54 closed

[2017-12-07 00:55] #122 closed

[2017-12-07 00:59] sckott commented on #107
already done

[2017-12-07 00:59] #107 closed

[2017-12-07 05:36] #103 closed

[2017-12-07 05:59] #121 closed

[2017-12-07 06:00] sckott commented on #121
@andreifoldes try again for Informa articles after reinstalling latest.

[2017-12-07 06:07] sckott commented on #91
hmm, mayve just need a follow location

[2017-12-07 06:07] sckott commented on #91
not high priority, moving to next milestone

[2017-12-07 20:47] #109 closed

[2017-12-07 21:05] sckott commented on #74
they do have 100% full text link coverage and the links do work, so this seems much less important

[2017-12-07 21:05] #74 closed

[2017-12-07 21:06] sckott commented on #94
done in 4c0fa114768d937fba857e2637ab04a77f8d23bb

[2017-12-07 21:06] #94 closed

[2017-12-07 21:10] sckott commented on #88
pkg started here https://github.com/ropenscilabs/dissem

[2017-12-07 21:10] sckott opened #125 "maybe use oaDOI for sorting out full text URLs"
via https://github.com/ropensci/roadoi

[2017-12-07 21:12] sckott commented on #33
hmm, i think they're working now

[2017-12-07 21:15] sckott commented on #33
elife with `ft_get` erroring, fixing

[2017-12-08 02:00] sckott commented on #33
working now

[2017-12-08 02:00] #33 closed

[2017-12-08 02:10] sckott commented on #123
already added in a98377732125d1843ea0be9729ffc935a4cd118e

[2017-12-08 02:10] #123 closed

[2017-12-08 03:18] sckott commented on #87
hmm, seems to be working okay, clsoing

[2017-12-08 03:18] #87 closed

[2017-12-08 18:44] #99 closed

[2017-12-08 18:49] sckott commented on #124
maybe in `ft_serialize`

[2017-12-08 19:53] sckott opened #126 "output of `ft_get` should be named for each plugin"
some plugins don't name the outputs with their IDs, name them

[2017-12-08 19:59] sckott opened #127 "elife now with 99% link coverage in crossref, move `ft_get` plugin to use crossref links"

[2017-12-08 20:39] sckott opened #128 "`type` in `ft_get` is not really operational - fill out"

[2017-12-08 23:02] sckott opened #129 "change `ft_get` to not write pdf to disk, but serialize raw bytes"
to standardize the internals and how users get data back out

[2017-12-08 23:06] sckott commented on #129
this will have to be a bit different setup from xml, since xml can be parsed to plain text and stored that way, whereas pdf can not (binary of nothing)

[2017-12-09 00:29] sckott opened #130 "`ft_get` not actually using cached file if it exists"
c'mon

[2017-12-11 01:16] sckott opened #131 "make sure is.boolean(cache)"
so that caching functionality doesn't fail

[2017-12-18 00:50] sarajohn840 commented on #14
Mostly student asks online to write my dissertation for me so that my grades remain balanced.
https://www.customdissertation.co.uk/write-my-dissertation/

[2017-12-18 17:56] sckott opened #133 "fulltext bookdown manual"

[2017-12-19 23:26] sckott opened #134 "possible feature: data.frame output of files and their text"
https://twitter.com/ptrckprry/status/943256317640273920

[2017-12-24 23:13] butterflyskip commented on #102
Hi,
A total newbie here, a comp. sci student.  Would like to take a stab at this ... but will need some breadcrumbs to find my way around.

gracias

[2018-01-03 18:54] sckott commented on #117
i made a plugin for this publisher https://github.com/ropenscilabs/pubpatterns/blob/master/src/iif.json in my pubpatterns thing - will be a while before we use pubpatterns in this pkg

[2018-01-03 18:57] sckott commented on #102
Hi @butterflyskip 👋   Thanks for stopping by. If you're still interested - are you new to R as well?  have you used the `devtools` package before?  Have you used `knitr` package?  Have you done a pull request on Github?  No problem if answer is No to all of these, can help you through it.

[2018-01-03 19:35] butterflyskip commented on #102
Hi @sckott.

Not totally new to R, but by no means an expert.  Yes, I have used the devtools package before, to download something from a github site.  I have not used the knitr package, yet.  And yes, I have done a couple of PRs, on github, but nothing merged yet :-(

[2018-01-04 18:29] sckott opened #135 "Possibly break off supplementary data functions to new package?"
@willpearse What do you think of this idea?

I'm in the process now of reworking `fulltext`, trying to simplify as much as possible to make the pkg easier to maintain and less bug prone. As we've worked on this package, the tooling around searching for and fetching articles seems like one use case, and getting supplementary files seems like another. And their downstream uses I imagine are differen

[2018-01-04 18:30] sckott commented on #133
at https://github.com/ropensci/fulltext-book https://ropensci.github.io/fulltext-book/

[2018-01-04 18:30] #133 closed

[2018-01-05 08:01] willpearse commented on #135
Sounds like a good idea to me. Is there a reason not to put the code
straight into `doidata`? I've only skimmed the readme, but it sounds like
it would be quite useful for it.

On Thu, Jan 4, 2018, 6:29 PM Scott Chamberlain <notifications@github.com>
wrote:

[2018-01-05 18:03] sckott commented on #102
There's a chapter on vignettes in the R pkgs book to help you get familiar with vignettes for R packages http://r-pkgs.had.co.nz/vignettes.html

After forking this repository to your github account, then pulling down to your machine, put the vignette file (with `.Rmd` file extension) in here: https://github.com/ropensci/fulltext/tree/master/inst/vign

You can render a vignette (aka make markdown w

[2018-01-05 18:17] sckott commented on #135
cc @noamross

My gut feeling is that it'd be good to embrace modularity - so that supplementary data files fetching is a separate package - then `doidata` can focus on the quite big task (i think) of making it simple to get data from lots of different places (zenodo, dryad, github, figshare, and including journal suppl. files that aren't on dryad/figshare).

Thoughts?

[2018-01-05 21:11] sckott opened #136 "user created plugins for `ft_get`"
thinking through now

[2018-01-05 21:14] sckott opened #137 "toggle a `ft_get` parameter for trying to get unkowns"
thinking through this now: add parameter to say, either:

- when a crossref member is not found with the given DOI, pass on it with warning/message, or
- try to get full text link:
    - first through `crminer::crm_links`, or
    - when ready, use pubpatternsapi if a rule set is found for the given Crossref member ID

[2018-01-05 21:15] sckott opened #138 "for `ft_get`: normalize DOIs for use in file names"
was using `digest::digest` but no way to reverse a hash, so might as well use DOIs themselves, but need to normalize them and avoid all the crazy symbols allowed in DOIs

[2018-01-05 23:28] sckott opened #139 "Add `ft` prefix to some functions"
to further reduce namespace conflicts:

- `collect` -> `ft_collect`
- `chunks` -> `ft_chunks`
- `tabularize` -> `ft_tabularize`
- `get_text` -> `ft_text`

[2018-01-06 08:40] willpearse commented on #135
I guess that's Ross' call really, but I would have thought it would be
useful.

I did have this in a separate package before, so I can put it back on its
own. My preference, I think, would be to move the code to
https://github.com/willpearse/natdb and add you, Scott, as a co-author on
that paper (if you're willing, etc.). I think it would give the paper some
extra bang, and would simplify my life

[2018-01-06 18:40] sckott opened #140 "Progress bar"
using https://github.com/r-lib/progress - might be tough to make it work smoothly

[2018-01-06 18:43] sckott opened #141 "Send `fulltext/<ver>` user agent string with every request to ftdoi API"

[2018-01-09 23:18] sckott opened #142 "clean out invalid PDF/XML files?"
Fxn to help users remove PDF/XML files that are invalid. Not sure if this is easy to do or not.

- For PDFs attempt to extract metadata, and if it's all borked, then likely not a pdf
- For XML, maybe read it in, and check if it's valid XML
- Would be hard to know for sure to remove a file if it was e.g., valid XML, but with an error message in it saying something like "you're not authorized", whic

[2018-01-10 15:31] sckott commented on #141
sorted

[2018-01-10 15:31] #141 closed

[2018-01-10 16:18] sckott opened #143 "Mapper for Crossref members to short names"
right now, when we deal with unknown publishers to our plugins for `ft_get` we use their publisher name, which can be very long and unwieldy

[code]

Ideally - have a dataset within the pkg, then get Crossref member number and match against it to get a short name to use as the name for the result for that publisher

[2018-01-10 17:32] sckott opened #144 "`ft_get`: option to exclude publishers by name or member number"
seems hard to automate this because so many different scenarios with different IP address/permissions/etc - so could let users filter out publishers - e.g.,

JSTOR is likely not going to be availlable to most, and we have no way to sort out links anwyay, so likely may want to filter out all JSTOR DOIs

[2018-01-10 20:45] #124 closed

[2018-01-10 20:45] #134 closed

[2018-01-10 20:45] #126 closed

[2018-01-10 20:45] #127 closed

[2018-01-10 20:45] #128 closed

[2018-01-10 20:45] #129 closed

[2018-01-10 20:45] #130 closed

[2018-01-10 20:45] #137 closed

[2018-01-10 20:45] #138 closed

[2018-01-10 20:45] #139 closed

[2018-01-10 20:45] sckott commented on #131
no longer applies

[2018-01-10 20:45] #131 closed

[2018-01-10 21:00] sckott opened #145 "yank out pdfx"
focusing pdf effort just on `pdftools` now for simplicity and it does a good job (not on scanned pdfs though of course)

maybe put in another pkg

[2018-01-10 21:02] #145 closed

[2018-01-10 23:52] #104 closed

[2018-01-10 23:53] sckott commented on #136
moving to next milestone

[2018-01-11 07:48] sckott commented on #108
sorry for very long delay on this, getting out v1 of this pkg very soon - starting to get this on my radar (whether or not it can be addressed)

[2018-01-11 20:33] sckott opened #146 "Possibly break off chunks into a new pkg"
given that I can picture it as a separate use case - and is complicated enough to be a sep pkg.

goals being

- take output from `fulltext::ft_get` OR xml docs OR text OR pdfs
- user says whats sections they want
- we take care of figuring out how to get each section for each publisher
- return data in a data.frame
- then able to pass down to other pkgs

[2018-01-15 02:27] sckott opened #147 "speed up `ft_get_si` tets"
taking quite a while, e.g,.

[code]

[2018-01-15 02:36] sckott opened #148 "Weird error with plos DOIs"
using `rplos::plos_fulltext` internally

[code]

[2018-01-15 02:39] sckott commented on #148
ah, need to probably use a custom version of that `rplos` fxn within `fulltext`

[2018-01-15 06:10] #148 closed

[2018-01-18 04:42] sckott commented on #135
Hmm, if we broke it out into a new or another pkg (like the one you linked to), i was envisioning a general purpose way to get supplementary materials. It seems like natdb is specific to traits. Or is that wrong?

[2018-01-18 18:13] willpearse commented on #135
I was just spit-balling. Such a package already exists (
https://github.com/willpearse/grabr) - when I saw `fulltext` I messaged you
to ask if you would like the code in it.

Would you like to make `grabr` an ROpenSci package, then? If so, I can
merge the changes we made in `fulltext` back into that package, which is
probably easier than starting afresh (see #146). No?

On Wed, 17 Jan 2018 at 21:4

[2018-01-18 19:23] sckott commented on #135
woops, forgot about grabr.

get back to you soon on this

[2018-01-18 19:37] willpearse commented on #135
No worries and no rush! :D

On Thu, 18 Jan 2018 at 12:31 Scott Chamberlain <notifications@github.com>
wrote:

[2018-01-19 00:00] sckott commented on #135
Okay, if okay with you, let's move the `ft_get_si` functionality into `grabr` - and would you be okay submitting to ropensci?  Noam had a good suggested pkg name `suppdata` (pkg name totally up to you though)

[2018-01-19 00:03] willpearse commented on #135
Sounds like a plan. Is there a protocol for submitting to ROpenSci? If
there's a link you can direct me to I'll read it and then follow it.
Otherwise I'll just figure it out :D

On Thu, 18 Jan 2018 at 17:00 Scott Chamberlain <notifications@github.com>
wrote:

[2018-01-19 00:34] sckott commented on #135
cool.

we now have a formal review system https://github.com/ropensci/onboarding/ where we get 1 to 2 reviewers - I can make sure it doesn't take too long since it was essentially code that was in an ropensci pkg already -

[2018-01-22 17:22] sckott opened #149 "remove PLOS from tests if possible"
they have pretty extreme rate limiting now

[2018-01-27 03:52] sckott opened #150 "update formats vignette"
these no longer provide XML format:

- cogentoa
- karger
- springer

[2018-01-27 17:28] sckott commented on #150
removed scienceopen from the list

[2018-02-07 14:47] sckott opened #151 "`ft_collect()` errors on linux b/c cache path has leading `.`"
fixing now

[2018-02-07 14:47] sckott commented on #151
via https://discuss.ropensci.org/t/fulltext-cant-reproduce-example-from-chapter-9-of-the-manual/1053

[2018-02-07 15:05] #151 closed

[2018-02-07 18:29] #150 closed

[2018-02-07 22:56] sckott opened #152 "Add support for additional parameters to Scopus search"
https://api.elsevier.com/documentation/ScopusSearchAPI.wadl

[2018-02-07 23:40] sckott opened #153 "See if we can add more search functionality to EuroPMC data source"
https://europepmc.org/RestfulWebService#search

[2018-02-07 23:43] sckott opened #154 "bug in `ft_search` with microsoft data source"
due to new parameter setup in `microdemic` pkg, causes problem here.

[2018-02-07 23:44] #154 closed

[2018-02-09 21:23] sckott opened #156 "Remove whisker dep"
only in `ft_browse` file, and not currently used, probably remove

unless anyone objects and wants that option, haven't heard form anyone wanting it htough

[2018-02-15 16:35] sckott commented on #147
closing as we're removing it from here

[2018-02-15 16:35] #147 closed

[2018-02-15 16:36] sckott commented on #84
closing cause moving it out of this pkg

[2018-02-15 16:36] #84 closed

[2018-02-15 16:36] #135 closed

[2018-02-24 13:36] diazah opened #157 "How to get all found results with fulltext R package"
Hello,

 I need to get all found results for ft_search function so i can make some operations using articles doi without getting fulltext of articles .. while using the limit param>1000 i have the error sayed that the limit param must be under 1000 .
![result](https://user-images.githubusercontent.com/24767808/36630949-38ad48da-1967-11e8-8ffb-ab9626c9f920.PNG)

How can I get all found results dois

[2018-02-24 20:16] sckott commented on #157
thanks for your question @diazah

the way all of the data sources work in `ft_search` is you pass on parameters/options to functions usually from other pkgs that we import. See the parameters `plosopts`, `crossrefopts`, etc. in the docs.

for crossref that's `rcrossref`

So you want to pass on named parameters in a list to `crossrefopts` like

[code]

See also the `cursor` parameter `rcrossref::cr

[2018-02-25 17:10] KleberNeves opened #158 "Problem with the SSL CA cert (path? access rights?)"
Hello,

I'm stuck with this error when trying to use **ft_get**:
[code]
I've tried reinstalling curl and httr, running update-ca-certificates ... neither worked. Could this have something to do with my network, with authentication procedures, permissions?

Thanks for the help and for the great package!

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2018-02-26 17:50] KleberNeves commented on #158
hi, of course. Simply loading the package and calling ft_get is enough on my laptop (I have yet to try it in another one, but I guess it would work).

[code]

[2018-02-26 18:06] sckott commented on #158
thanks

it's related to the underlying `curl` library that does low level HTTP requests.  There is some discussion of this exact error on SO https://stackoverflow.com/a/31977864/1091766 - can you try uninstalling `curl`, then reinstalling

[code]

restart R session

[code]

[2018-02-27 11:01] KleberNeves commented on #158
Hi, cool. I had tried reinstalling curl before. Tried again, to no avail.

However, the SO question showed me something I hadn't checked and that was it. I only had *libcurl4-nss-dev* installed, not *libcurl4-openssl-dev*. I just removed the nss one and installed the openssl one, then reinstalled _curl_. Now it's working!

Thanks for the attention!

[2018-02-27 19:53] sckott commented on #158
ah great, glad your sorted it out!

[2018-02-27 19:55] sckott commented on #158
@jeroen is there any way to help auto-detect this problem where users need to have `libcurl4-openssl-dev` instead of `libcurl4-nss-dev`? or is it rare enough of a problem?

[2018-02-27 19:55] #158 closed

[2018-02-27 20:05] jeroen commented on #158
Which version of debian/ubuntu is this? Usually either `libcurl4-nss-dev` or `libcurl4-openssl-dev` should work.

[2018-02-27 20:12] sckott commented on #158
@KleberNeves can you answer above ^^

[2018-03-12 17:40] sckott commented on #157
any thoughts @diazah ?

[2018-03-20 18:31] sckott opened #159 "See if need any changes for supporting Entrez keys"
probably just to document that users should set their `ENTREZ_KEY`

[2018-04-08 15:03] andreifoldes opened #160 "Question regarding VPN and proxy"
Greetings, I have the following question;

I want the package to harness my institutional access when I am working from home: meaning that I need VPN connection and automatic proxy. configuration when accessing articles via the browser.

Could this be done in R in such a way that fulltext can harness these parameters?

[2018-04-10 03:48] sckott commented on #160
thanks for your question @andreifoldes

- which function(s) are you using?
- what version of `fulltext` are you using

When I'm on my UC Berkeley VPN from home or elsewhere, I don't have to set proxy info, but i guess you're saying there's a VPN and proxy?.  Have you tried using `fulltext` through your VPN and proxy? Does it not work? What is the error message?

[2018-04-10 17:28] andreifoldes commented on #160
Dear @sckott

- I'd like to use ft_search, ft_abstract and ft_get in my project
- I'm working with fulltext_1.0.1.9141

In my case - don't know whether this is general or not - to access articles from home I am required both settings for manual browser based download:
1. https://www.lrz.de/services/netz/mobil/vpn/
2. https://www.lrz.de/services/netzdienste/proxy/browser-config/

My main issue: If

[2018-04-15 16:03] sckott commented on #160
can you show me example code for just a few papers or so so I can make sure I know what code you're using and test out some things

[2018-05-03 12:44] swuyts opened #161 "scopusopts"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

Hi there,

I was experimenting with the fulltext package and wanted to extract scopus hits. For this I ran:

[code]

As a result I get this:

[code]

Could it be that the scopusopts are not passed through the search? As I feel like I'm not able to adapt the number of hits that should be returned.

Thanks!

[2018-05-04 08:15] swuyts commented on #161
Thank you for your fast and very clear response @sckott!

I've updated the package and ran the code as you suggested and everything ran smooth and as expected. Could it be that the bug was related to returning only 25 searches? Because that's a problem that now seems to be gone!

Maybe an additional follow up question. If I want to explore and retrieve 50.000 hits, is it then correct to loop over

[2018-05-04 15:35] sckott commented on #161
Great, glad it works.  Yes, related to the 25 limit, but also I had a bug in the code for requesting scopus data.

I also should document this. For Scopus, I added an internal looping function so it actually loops for you to get the records you want. So you can just set the limit to e.g., `1000` and it will make many requests of 25 until reaching 1000. Unfortunately, the max per request you can ge

[2018-05-04 15:36] sckott opened #162 "Add to docs that some data sources are looped internally and some are not"
via #161

[2018-05-31 13:06] low-decarie opened #163 "Warning message: no plugin for Crossref member 345 yet"
It does not seem to be possible to download full text from "International Journal of Systematic and Evolutionary Microbiology" though most articles are open access.

I guess similar to previously reported issue of

example url for DOI: 10.1099/ijs.0.006767-0
main page:
http://ijs.microbiologyresearch.org/content/journal/ijsem/10.1099/ijs.0.006767-0
html
http://ijs.microbiologyresearch.org/content/

[2018-05-31 16:59] sckott commented on #163
thanks for the report @low-decarie

will have a look into this

[2018-06-01 06:31] sckott commented on #163
Hmm, it's kind of messy 😮

So I think we need a pattern like

[code]

And then `ijsem` is also specific to the journal, as well as`ijs` in `ijs.microbiologyresearch.org`

so I think can be done but a bit messy

[2018-06-01 10:32] low-decarie commented on #163
I was trying to get an alternative using phantomjs to download the full-text html page after javascript interpretation, but for some reason the html full-text section is still missing.  Thanks for your efforts.

[2018-06-01 18:22] sckott commented on #163
okay - try these on the command line

[code]

and now `fulltext` should hopefully work on these now, try

[code]

[2018-06-07 13:27] low-decarie commented on #163
That is fantastic.  Thank you!

It worked once, but I now get:

but if I check online, I do have access to 10.1099/ijs.0.006387-0 (and many others for which I get the same error) (its actually open access)

[2018-06-07 13:59] sckott commented on #163
looks like because they use a different URL pattern for that DOI

http://www.microbiologyresearch.org/docserver/fulltext/ijsem/59/8/1919.pdf

whereas we were looking for https://github.com/ropenscilabs/pubpatterns/blob/master/src/microbiology.json#L23

[2018-06-07 14:38] low-decarie commented on #163
Naive question, in the output from
`curl https://ftdoi.org/api/doi/10.1099/ijsem.0.002809/ | jq .`
that is being parsed by `microbiology.json`
is it not possible to have a very/more liberal/non-restrictive search for any url containing pdf?

[2018-06-07 16:43] sckott commented on #163
What do you mean by "any url containing pdf" ?  ftdoi API works not by scraping publisher pages, but by using rules described in https://github.com/ropenscilabs/pubpatterns repo - so we only give back URLs from rules that we state ourselves.

or by "any url" did you mean URLs for other articles?

[2018-06-07 17:47] sckott commented on #163
yeah, so publishers really suck. They have a different URL pattern for papers in press vs. papers assigned to a volume/issue/page numbers.

not sure yet how I'll deal with that.

[2018-06-07 18:12] sckott commented on #163
phew, okay i think this works now:

- an article not in a volume yet: https://ftdoi.org/api/doi/10.1099/ijsem.0.002809/
- an article in a volume https://ftdoi.org/api/doi/10.1099/ijsem.0.002699/

[2018-06-08 08:32] low-decarie commented on #163
I knew my comment was naive, the magic you are doing here escapes me.  Thanks again for this great piece of work!

The issues I was having were all with articles that are already in a volume.  Articles more than 6 months old become OA and those are the only articles to which I have access / want to dowload.

[2018-06-08 17:48] sckott commented on #163
yes, we don't want to cache a bad file so we clean it up (delete it) if something goes wrong.

So does `ft_get` work then for the most part with your DOI list?

[2018-06-11 21:57] sckott commented on #163
@low-decarie does `ft_get` work then for the most part with your DOI list?

[2018-06-12 21:16] low-decarie commented on #163
If I do ft_get() on the whole list of DOIs, I get :
`Error in names(z$data) <- tolower(names(z$data)) :
  attempt to set an attribute on NULL
In addition: Warning message:
404: Resource not found. - (10.1099/ijs.0-011122-0)`

If I sample repeatedly 30 DOIs from this list to which I apply ft_get(), I get fails ~29/30 times (eg. of warnings):

`Warning messages:
1: you may not have access to 10.1099

[2018-06-12 21:34] sckott commented on #163
thanks for the details here @low-decarie - will have a look

i think the message i included `you may not have access to  DOI or an error occurred` doesn't necessarily mean you don't have access

[2018-06-12 23:35] sckott commented on #163
😢 oof, another exception to the rules i thought i figured out. so for now i changed the internals of ftdoi.org to just scrape the html landing page to get the pdf url, this does mean that requests for this publisher will be a bit slower unfortunately.

I tried with up to 50 DOIs and they all work now for me.

side note that the first DOI in the list I think had a typo, instead of `10.1099/ijs.0-01

[2018-06-13 19:10] low-decarie commented on #163
Fantastic!  🥇 !  Thank you!

[2018-06-13 19:12] #163 closed

[2018-06-13 19:19] sckott commented on #163
should speed up in the future, will do caching https://github.com/ropenscilabs/pubpatternsapi/issues/7  of the JSON response from the API which is used inside `fulltext`

[2018-06-13 23:16] sckott commented on #163
caching added to the API - 2nd and so on request to the same route will be cached for 24 hrs.

[2018-06-14 17:28] andreifoldes commented on #160
Sorry for the late reply.

So lets take the following example.
1) I want to use ft_get() to download the following article:
https://www.sciencedirect.com/science/article/pii/S0010027716300063
2) My VPN and browser settings have been properly set according to the aforementioned links since I can download the article from my browser.
3) I run the following in R.
[code]
4) Alas, when looking at the X

[2018-08-09 12:57] maelle opened #164 "Mention suppdata in the README?"
With a link to its repo, and a brief explanation of the role of both packages. 😺

[2018-08-09 14:13] maelle opened #165 "ft_get on Windows"
Maybe it is _my_ fault and I wrote a wrong workflow?

[code]

Created on 2018-08-09 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

<details>

<summary>Session info</summary>

[code]

</details>

The failure happens at the `ft_get` step and indeed that folder is empty.

[code]

Created on 2018-08-09 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-08-09 14:15] maelle commented on #23
It'd pair well with https://github.com/ropensci/webchem

[2018-08-09 15:56] sckott commented on #23
good idea!

[2018-08-09 15:56] sckott commented on #164
will do

[2018-08-09 16:09] sckott commented on #165
thanks!

can you try the same thing but removing the `ft_links` call?  hopefully will work then. will investigate what's going on with `ft_links`

[2018-08-09 20:38] #164 closed

[2018-08-10 12:31] maelle commented on #165
I also wonder why I have both `ft_collect` and `ft_get`. I copied the succession of calls from https://github.com/ropensci/fulltext#extract-chunks but I'm a bit puzzled by the verbs.

"ft_collect grabs full text data from a remote storage device. " so where does `ft_get` put the data? Sorry if this is a dumb question.

[2018-08-10 17:07] sckott commented on #165
if you for some reason just wanted links, e.g., to write them out to a file to store them, or to use them somewhere else. it should work to go from ft_link to ft_get, but i need to work out some bug i guess

`ft_get` just stores the files on disk, so only returns to the user metadata and where the files are on disk, so that the user isn't dealing with huge objects until they need to. so ft_collect

[2018-08-10 17:18] maelle commented on #165
Ah ok, thank you! I think the "remote" in "ft_collect grabs full text data from a remote storage device. " is puzzling... but maybe only for me!

[2018-08-10 17:46] sckott commented on #165
ah true. previously i had dreamed of fulltext supporting lots of different storage options, but it was too complicated, so just file paths now. so good idea to change that language.

[2018-08-10 17:52] #165 closed

[2018-08-10 17:52] sckott commented on #165
hopefully the docs make more sense now https://github.com/ropensci/fulltext/commit/31f27e933ca5f0fe66fad32b0792db1342d83b27?w=1

[2018-08-10 18:02] maelle commented on #165
Yes 😀👌

[2018-08-10 18:04] maelle commented on #165
And reg the "too complicated", `fulltext` already does many complicated things, it looks like magic from the user's perspective 😀

[2018-08-10 18:05] sckott commented on #165
right about already complicated enough, and that's why i narrowed down article storage to just local files  and pushed for suppdata as a sep pkg 😸

[2018-08-31 19:03] t088 opened #167 "Question concerning ft_get function and entrez_search"
Hello I am new to this field, so please excuse my probably trivial question:

I searched for the term political extremism in pmc and wanted to pass the output to the ft_get function to get the full text  and thereafter extract text chunks such as the body and author.

[code]

Unfortunately, the ft_get function returns an error:
"Error: These are probably not DOIs:
NA
NA
....."
(I am using fulltext

[2018-09-06 21:42] sckott commented on #167
thanks for the issue @t088 - on vacation now, will respond mid next week

[2018-09-14 03:48] lucymerobinson opened #169 "small difference in Scopus standard online search and ft_search results"
Hello,

When I do the following search

ft_search(query="TITLE-ABS-KEY(ecology)",from="scopus")

I get 300321 records

and when I do a search for "ecology" using the standard Scopus online database

I get 300366 records

Which is pretty similar, but it took me a while to figure out that the standard Scopus online database search uses TITLE-ABS-KEY as a default and it looks like the ft_search funct

[2018-09-14 22:31] sckott commented on #167
@t088 pushed a fix, can you reinstall and try again

[2018-09-21 04:09] lucymerobinson commented on #169
Thanks for clarifying @sckott - I am happy to add some examples to the ft_search fcn if that would help.
I'm also trying to get the facets param working in ft_search. I have tried using the scopusopts = list("ver=facetexpand") and scopusopts = list("facets=subjarea(count=5)"), but it doesn't return any additional fields. Would you have any advice on this?

[2018-09-21 20:26] sckott commented on #169
A pull request would be great if you have the time.

I'll add facet suppor

[2018-09-21 20:31] sckott opened #170 "add support for facets in scopus search"
from #169

[2018-09-21 21:14] sckott commented on #169
@lucymerobinson reinstall and try examples in https://github.com/ropensci/fulltext/blob/master/R/scopus_utils.R#L36-L54 - and https://github.com/ropensci/fulltext/blob/master/R/ft_search.R#L107-L113 for `ft_search` - you can yet get the facet data with `ft_search` - do you want the facet data, or is it just that you want to use facets to limit your search results? from the docs https://dev.elsevie

[2018-09-25 03:01] lucymerobinson commented on #170
Thanks @sckott  that works well. I'm mostly interested in returning facets fields so I can create plots of pubyear, subjarea etc so not wanting to limit my search by those fields, just wanting to access that information for analysis and visualisation. I noticed that the scopus_search_loop hadn't been exported to the Namespace file so I have added that into my forked version of the pkg, but can pus

[2018-09-25 03:44] lucymerobinson commented on #169
Thanks @sckott  I have responded to your facets questions under [#170](https://github.com/ropensci/fulltext/issues/170).  I have updated the Scopus examples under ft_search to include a query with title, abstract and keyword fields, but removed examples with low limits (e.g. 5) and those with the start param as I wasn't sure why you needed this?

[2018-09-25 03:59] lucymerobinson commented on #170
Also exported scopus_get, but this fcn also requires documentation. I tested out the facets example for scopus under the ft_search example, but this didn't return a facets object so I assume that example is restricting the search? Happy to go with scopus_search_loop for now as that seems to be giving me what I need.

[2018-09-25 17:06] sckott commented on #169
can you clarify, not sure what you're talking about?

[2018-09-26 02:45] lucymerobinson commented on #169
sorry I wasn't clear. I'm just not sure why someone who is doing a lit search via API would only want to return 5 articles out of the 1000's that are likely to be found, so I was just questioning whether that was a relevant example to include? I also wasn't sure why you would want to use the start param for scopus searches - I guess this could be handy if you want to update a lit search a few year

[2018-09-26 02:55] lucymerobinson commented on #170
Thanks @sckott. That's great!  ft_search returns facets so I will use that instead of scopus_search_loop and remove the export param from scopus_utils fcns. I haven't started exploring sources other  than scopus, but hopefully facets will be easily accessible for them too?

[2018-09-26 09:15] lucymerobinson commented on #170
FYI - just a small note in relation to facets - all the scopus cluster facet values seem to work fine (as in it returns values for any or those fields), but the author and affiliation cluster facets don't (i.e. NULL is returned if I try affilcountry(count=1))

[2018-09-26 16:38] sckott commented on #169
The small limit (e.g., 5) is so that examples run quickly so users can get a quick sense of what the function does and returns. Does that make sense?

✔️  The example with `start` should go away - as i switched to using `scopus_search_loop` internally within `ft_search` for scopus searches, so it loops for the user, so no reason to use `start` anymore when using `ft_search`

[2018-09-26 16:40] sckott commented on #170
Bummer, I don't have any insight on why the author or affiliation facet won't work

[2018-09-28 16:47] sckott commented on #142
thanks for the bump @lucymerobinson - will have a look

[2018-09-28 18:03] sckott commented on #142
@lucymerobinson can you reinstall `remotes::install_github("ropensci/fulltext@cache-clean")` and see new fxn `cache_file_info`

let me know what you think

[2018-10-01 23:19] sckott commented on #157
closing due to inactivity

[2018-10-01 23:19] #157 closed

[2018-10-02 09:06] lucymerobinson commented on #142
thanks @sckott the issue is with the NULL value that is returned from ft_collect when the xml isn't downloaded into my cache path after using ft_get on the search results returned from ft_search (because I don't have permission or there was an error - according to the warning that scopus provide). So after using ft_collect on the ft object that is created from using ft_get I can work around this b

[2018-10-02 23:06] sckott commented on #142
did the new function `cache_file_info` seem useful at all?

a reproducible eg would be great! if you can share one

no, not at the moment. I can look into that

[2018-10-02 23:07] sckott opened #172 "fxn to coerce folder path of xml/pdf files to `ft` object to use downstream"
from #142

look into this

[2018-10-02 23:08] sckott commented on #142
@lucymerobinson opened separate issue for the 2nd thing https://github.com/ropensci/fulltext/issues/172

[2018-10-02 23:50] sckott opened #173 "ft_get problem: when passing in ft_links output when bad urls"
related `crminer` issue https://github.com/ropensci/crminer/issues/28

on `cache-clean` branch but should be broken on master as well:

[code]

[2018-10-02 23:50] sckott commented on #173
there's two urls for a single article, each of which has `unspecified` type, so I think that's the problem is we're passing 2 urls to a function that expects 1

[2018-10-03 01:42] #173 closed

[2018-10-03 03:15] sckott commented on #172
@lucymerobinson  can you install from master `remotes::install_github("ropensci/fulltext")` and try the function `as.ft_data()` , see its examples

[2018-10-04 09:08] lucymerobinson commented on #142
Here is an e.g. to demonstrate the issue
search_articles <- ft_search(query = 'TITLE-ABS-KEY(ecology)',from = 'scopus', scopusopts = list(key = Sys.getenv('ELSEVIER_SCOPUS_KEY')), limit = 100)

text_articles <- ft_get(search_articles$scopus$data$`prism:doi`,from = "elsevier")

text_new <- text_articles %>% ft_collect()

# everything works up until this point and then when I attempt to extract abst

[2018-10-04 09:54] lucymerobinson commented on #172
thanks @sckott
the object returned by .as.ft_data doesn't seem to work quite in the same way as the one created by ft_search %>% ft_get %>% ft_collect. So when I use

test <- as.ft_data()

test_text <- test %>% ft_collect() %>% ft_chunks(what="abstract") %>% ft_tabularize()

test_text$cached

data frame with 0 columns and 0 rows

[2018-10-04 23:29] sckott commented on #172
okay, thanks. will have a look

[2018-10-10 00:03] sckott opened #175 "ft_get failing on files that are returning invalid files with 200 status code"
e.g, with some pensoft DOIs, e.g.,

[code]

https://zookeys.pensoft.net/articles.php?id=5764 gives a XML url of https://zookeys.pensoft.net/article/9332/download/xml/ which should be https://zookeys.pensoft.net/article/5764/download/xml/ (the id has changed)

[2018-10-10 00:05] #175 closed

[2018-10-10 00:13] sckott commented on #172
@lucymerobinson can you reinstall and try again. i think it's fixed.

[2018-10-10 00:39] sckott commented on #142
@lucymerobinson can you rerun your example above, then run `traceback()` and paste in the output here when you run into that error

[code]

which should give us where that error occurs.

I can't seem to replicate your problem, even withouth my VPN turned on for UC berkeley.

it's also worth installing latest version as I may have fixed something related to this.

[2018-10-10 00:39] sckott opened #176 "make it easier to get errors across all results from ft_get()"

[2018-10-10 00:47] sckott commented on #176
@lucymerobinson  you might be intersted in this, see example: https://github.com/ropensci/fulltext/blob/master/R/ft_get.R#L157-L160

[2018-10-10 00:50] sckott opened #177 "ft_get bad bad no no"
[code]

[2018-10-10 23:15] #177 closed

[2018-10-10 23:15] sckott commented on #176
done for now

[2018-10-10 23:15] #176 closed

[2018-10-10 23:36] #156 closed

[2018-10-10 23:50] #152 closed

[2018-10-10 23:50] sckott commented on #167
fixed, closing

[2018-10-10 23:50] #167 closed

[2018-10-11 00:14] #162 closed

[2018-10-11 22:02] sckott commented on #144
by exclude in this context, I guess this would mean that we wouldn't attempt fetching articles from the user supplied list of publishers

[2018-10-12 01:46] #66 closed

[2018-10-12 15:59] sckott commented on #142
any thoughts @lucymerobinson ?

[2018-10-12 16:01] #169 closed

[2018-10-12 16:06] sckott commented on #149
seems okay for now at least, closing

[2018-10-12 16:06] #149 closed

[2018-10-12 16:37] sckott commented on #117
had a pubpattern for this, but need to make a custom handler in fulltext for this,

[2018-10-12 16:41] #117 closed

[2018-10-12 16:42] #4 closed

[2018-10-12 16:43] sckott commented on #60
nah

[2018-10-12 16:43] #60 closed

[2018-10-12 16:55] #159 closed

[2018-10-15 22:37] lucymerobinson commented on #142
Thanks @sckott. Just tested this and there is no more error anymore so it seems to be fixed.

[2018-10-15 23:19] sckott commented on #142
great, thanks @lucymerobinson !

[2018-10-15 23:19] #142 closed

[2018-10-16 03:13] lucymerobinson opened #180 "setting start param in ft_search doesn't appear to change search results"
Hi @sckott,
I have been trying to use ft_search to extract articles in batches so I limit searches to 2000 as anything greater than this is too slow (i.e. > 20 min) and results in the following error

[code]

so I have tried using the start param in ft_search, but if I start at 10 or 2000 it doesn't make a differences (i.e. always seems to start from  zero).

here is an example:

[code]

<details>

[2018-10-16 16:10] sckott commented on #180
thanks @lucymerobinson will have a look.

[2018-10-16 23:43] #180 closed

[2018-10-16 23:43] sckott commented on #180
can you reinstall and try again please and thx

[2018-10-16 23:44] sckott opened #181 "mark chunks/tabularize as deprecated"
then move to defunct in next version

[2018-10-16 23:51] #181 closed

[2018-10-24 19:09] sckott opened #182 "scopus: note in docs many places that IP addresses also checked"

[2018-10-24 19:20] sckott opened #183 "update docs for ft_get for any publishers that require Crossref clickthrough TDM key"

[2018-10-25 17:11] #182 closed

[2018-10-25 17:11] #183 closed

[2018-12-07 22:07] jshleap opened #184 "Loop for crossref"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

Hi, my query has over 1000 entries for crossref, how can I loop over it?

[2018-12-07 23:21] sckott commented on #184
thanks for the report and the session info.

please share the `fulltext` function(s) you tried and point to the exact spot you're having trouble

[2018-12-10 16:39] jshleap commented on #184
Hi! I have used `ft_search(query = 'GWAS', from = 'crossref')`, and then tried to use the offset option of `rcrossref::cr_works`, however, ft_search has a hard limit of 1000, so cannot even paginate over that.

[2018-12-10 18:17] jshleap commented on #184
Hi! I have successfully worked around the crossref issue, by using:
`crossref <- rcrossref::cr_works(query="'GWAS'", cursor='*', cursor_max=68232, filter=c(type="journal-article", has_full_text = TRUE))`, and it seems to work as expected. However, when I tried to loop over the `europmc`, pagination does not work, neither in the ft_search `ft_search(query = 'GWAS', euroopts=c(page=2), from='europmc

[2018-12-18 17:32] bomeara opened #185 "Let me set the cache fully"
`cache_options_set()` lets me set the end of the cache path: on OS X, I can change it from `/Users/bomeara/Library/Caches/R/fulltext` to `/Users/bomeara/Library/Caches/R/myfulltextcache` or whatever. However, I can't just change it to `/Users/bomeara/Documents/pdfproject/data` (which I want to do b/c I want to use the PDFs in another workflow) because it seems hardcoded to preface any path I set w

[2018-12-18 18:38] sckott commented on #185
thanks @bomeara - will have a look

[2018-12-18 22:19] sckott commented on #185
thanks, definitely helps motivate me through the pain publishers put us through

[2018-12-18 22:23] sckott commented on #185
reinstall and try again, let me know if it works.

[code]

[2018-12-19 15:04] sckott commented on #184
they've changed the way paging is done - see https://europepmc.org/RestfulWebService#!/Europe32PMC32Articles32RESTful32API/search - they used to have page and page size parameters, now there is page size, but page has been replacedw ith a cursor - i'll have to change the `eupmc_search` function to account for this.

[2018-12-31 18:47] #184 closed

[2018-12-31 18:49] sckott commented on #184
@jshleap reinstall `remotes::install_github("ropensci/fulltext")`, reload R, and try again, should work now. though you have to do paging differently than before.

[code]

[2018-12-31 19:01] sckott opened #186 "pull out SI fxns"
make sure suppdata is on cran first

[2018-12-31 19:04] sckott opened #187 "pull out straggling httr code"
in `plugins_get.R` and `plugins_links.R`

[2019-01-16 01:30] #186 closed

[2019-01-16 01:30] #187 closed

[2019-01-17 01:33] bomeara opened #189 "OA Wiley ePDF not downloading"
I'm trying to get an open access article from a Wiley journal. I have tried this both on a laptop at home and desktop at work (the latter has access to paywalled articles, too).

[code]

and the return is

[code]

The article is open access: https://bsapubs.onlinelibrary.wiley.com/doi/full/10.3732/ajb.1700190

but the PDF link goes to an epdf: https://bsapubs.onlinelibrary.wiley.com/doi/epdf/10.37

[2019-01-17 17:50] bomeara commented on #189
Note that on digging down to [here](https://github.com/ropensci/fulltext/blob/7292954bb01ed417113e18be22a577d7090d89cc/R/plugins_get.R#L431) in the code I thought it might be my lack of `CROSSREF_TDM` (after reading the fine manual on this), so I fixed that, and the problem persists.

[2019-01-17 17:55] bomeara commented on #189
@rossmounce's [blog post](http://rossmounce.co.uk/2015/03/19/how-to-block-readcube-and-why/) on avoiding ReadCube to get PDFs directly might be relevant for this problem, too (though CR-Clickthrough-Client-Token in the header argument of `get_ft()`, *seems* like it should do this, but I really don't know what I'm doing).

[2019-01-17 18:32] sckott commented on #189
thanks for the report @bomeara

i do ge tthe same thing.

when running it without my UC berkely vpn on you can dig into the result and see

[code]

With VPN on I get the same thing.

----

If you use `verbose=TRUE`, `ft_get("10.3732/AJB.1700190", verbose=TRUE)` (verbose will also let you see if your click through token is being used and what content type [pdf, xml, html, plain text] is being reque

[2019-01-17 18:48] bomeara commented on #189
Yep, works beautifully (even stupidly including `"CR-Clickthrough-Client-Token" = "<your token>"` verbatim). Thank you.

I suppose a kludgy solution could be `gsub("full", "pdf", url)` for the path from crossref, but seems too much of a hack.

[2019-01-17 18:49] sckott commented on #189
oh right, it probably shouldn't need the token since it's OA

[2019-01-17 18:50] sckott commented on #189
that may be worth a try, but we can't expect wiley to do anything in a consistent manner across all journals

[2019-01-17 18:50] bomeara commented on #189
But I imagine there are other wiley ePDFs where token does matter [context: pulling last 1000 articles from American Journal of Botany to put into global names/phylotastic taxonomic name extraction].

[2019-01-17 19:16] sckott commented on #189
agree

[2019-01-17 20:11] bomeara commented on #189
Sample of what's working now: the number of saved PDFs out of 1000 DOIs went from ~600 using CacheAllPDFsImmediately() to 985 using the crul workaround (all part of a longer drake workflow).

[code]

[2019-01-18 00:50] sckott commented on #189
okay, if you reinstall that eg should work now. its sort of a hack, where if we fail on the first attempt, then change the url to the pdf version and try again, and if that fails then we give up

[2019-01-18 01:02] sckott commented on #160
Sorry for the long delay on this.

What you get with that example I imagine, and what I get without my VPN on, is just the abstract.

When I turn on my VPN I get the full text.

What I think you are missing is your Crossref TDM token. You might be able to use a specific Scopus api key too, but lets try the Crossref TDM token route first. For docs see the _Crossref TDM_ section of the _Authenticati

[2019-01-18 02:59] #140 closed

[2019-01-18 17:29] sckott commented on #189
@bomeara let me know if the change works for you

[2019-01-18 17:52] bomeara commented on #189
Thanks. The change got a few hundred more using fulltext (and the crul hack got nearly everything I need, so my urgency for this working is much lower). But there were still some refs that it didn't get: the first 50:

[code]

[2019-01-18 17:59] sckott commented on #189
thanks for the list

[2019-01-18 19:36] sckott commented on #189
oh boy, those DOIs that don't work are throwing URLs like

https://syndication.highwire.org/content/doi/10.3732/ajb.1300053

that result in a 403: not authorized - super helpful

[2019-01-19 00:08] sckott commented on #189
Okay, if you reinstall, and I think all those DOIs should work now. I tested the first 20 and now they work.

it's a nasty hack https://github.com/ropensci/fulltext/commit/93b870acec051564163d8a89ddbcbebeced54ea5 but at least works and I don't thin breaks anything

[2019-01-19 00:57] #146 closed

[2019-01-21 20:15] #189 closed

[2019-03-06 20:40] LMAllenJacobson opened #191 "Can I improve ft_get retrieval?"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[code]

## BuildBib

Goal: build a PDF library to automate the initial steps of meta-analysis. This will make meta-analysis more reproducible, more efficient, and hopefully more comprehensive. I've started by attempting to reproduce a published meta-analysis.

Problem: At 52%, ft_get() retrieves more PDFs than other aut

[2019-03-08 01:13] sckott commented on #191
thanks very much for this @LMAllenJacobson

First, as long as you are already writing code to do this work, you can get DOIs from citations using either `fulltext` or `rcrossref`, e.,g.,

[code]

[2019-03-08 22:59] sckott opened #192 "more efficient publisher lookup in `ft_get`"
in `get_unknown` internal fxn within `ft_get` we run another internal fxn `get_publisher`. we run every DOI through it in a lapply call.  this is slow cause can only throw one DOI per request to Crossref API

looking into using Fatcat

[2019-03-09 01:51] sckott opened #193 "fxn to check whether you have access on a per publisher basis?"
could be run before using `ft_get` to then maybe just not try to get full text for publishers you don't have access to - e.g,.

- take in a set of publishers (crossref member id, or text)
- grab a random DOI from that publisher via crossref api (maybe up to 3 cause maybe 1 at random may give a false sense of access if it happens to be 1 OA paper in a sea of non-OA content)
- try to get the full te

[2019-03-09 02:09] sckott commented on #191
one thing that may help is to summarize errors:, e.g.,

[code]

giving a data.frame of all the errors across publishers, and filtering out records that had no errors (i.e. those are the ones you got the full text for)

interpreting errors is a bit tricky. for example an error like

is not very transparent. essentially, the link that was tried was for a pdf, and the content type that was returned (

[2019-03-09 05:25] sckott opened #194 "`ft_get`: various interface tweaks"
- [x] some requests just hang, for any number of reasons, possibly the publishers website is sluggish, or other things. SO, make it easy to set timeouts per request: maybe param for setting timeout, or at least document how to do it manually (__done, curl options across pkg now__)
- [ ] ~~print to console the publisher that's being worked on, since we split up work by publisher~~ nah, doesn' t mak

[2019-03-09 17:27] sckott opened #195 "Cambridge scraper: going to have to be within fulltext"
put it in pubpatterns API, but it only works if the IP addreess has access. so can put here, and if user has access proceed with scraping, if not, fail out,

Ruby code:

[code]

[2019-03-09 17:28] sckott commented on #191
The Cambridge scraper is going to require access https://github.com/ropensci/fulltext/issues/195 - requires to scrape the link from the page when access is granted, then get pdf (the pdf url is a mess, and can't be sorted out just from DOI, etc)

[2019-03-11 16:13] LMAllenJacobson commented on #191
Thanks for your detailed feedback. I haven't had a chance to incorporate your suggestions because I've been trying to fix a coulple different problems:

**First** Apparently, I've done something that is interfering with ft_get(). I am logged on through the same VPN, I am using the same api keys, and the same code. I had updated two packages (purrr and XML). I've downgraded purrr, but cannot seem t

[2019-03-11 16:49] sckott commented on #191
We don't depend on the `XML` package or the `purrr` package in this package, so I imagine those only affect the user code you showed above.

The error about "cannot open the connection" seems to me to suggest that you may not have full admin access on that computer. is that the case? You can set the cache to be stored elsewhere, try that and see if you get the same result.

The first computer has

[2019-03-11 18:22] LMAllenJacobson commented on #191
You are right, I do not have admin access on my work computer. I just set the cache to a folder within my documents but received the same error. But, I do not think the error is related to admin privelages because I originally had this working on my work computer.

I will update my personal computer and rerun this evening.

Regarding the XML, I understand that some publishers do not provide this f

[2019-03-11 18:39] sckott commented on #191
the xml issue: it can happen with Elsevier that you get XML back and everything seems fine, but it's just metadata. This should be due to you not having access to the article.

[2019-03-11 18:50] LMAllenJacobson commented on #191
I just checked two examples, and I had full-text access to both. Both are from Elsevier, one from 1962 and one from 1985. Maybe the issue is that these papers are older?

[2019-03-11 20:43] sckott commented on #191
Checked the one that you shared above, `ft_get("10.1016/0022-1910(85)90024-1")` and that worked for me when on my VPN. got the full XML. If you share the other DOI I can check that one.  It's entirely possible we have access to different subsets of their articles

Does the ft_get output give any errors in the `$errors` slot?

[2019-03-12 17:47] LMAllenJacobson commented on #191
For this example:

- I have full-text access to the article through my institution

- ft_get("10.1016/0022-1910(85)90024-1") runs and does not return any errors

- the retrieved XML does not include full-text but does include metadata

[2019-03-12 17:52] LMAllenJacobson commented on #191
Here is the DOI for the other example, from 1962: https://doi.org/10.1016/0010-406X(62)90031-2

[2019-03-12 18:25] LMAllenJacobson commented on #191
I've updated R and packages on both computers. I haven't had the time to update the OS. If you think updating will help to solve the problem, I can do that later this week. Now both computers are giving the same error:

<details> <summary><strong>New Error </strong></summary>

[code]
</details>

<details> <summary><strong>Session Info for original computer</strong></summary>

[code]
</details>

<d

[2019-03-12 18:45] sckott commented on #191
The 2 DOIs you aren't getting full text for might be a Elsevier "fence" issue. What institution is your access through?

[2019-03-12 18:47] LMAllenJacobson commented on #191
The University of Florida

[2019-03-12 18:51] sckott commented on #191
email sent

[2019-03-13 03:20] LMAllenJacobson commented on #191
Thanks! Is that something I could do if I change institutions?

[2019-03-13 03:51] LMAllenJacobson commented on #191
Regarding the "Error in sprintf(pat, x) : too few arguments" error: it turns out that one reference from the journal of experimental biology results in this error. If I remove this one reference, ft_get() runs.

**Remove problem reference and retreive full texts**
[code]

**build summary table**
[code]
source|retrieved|queried
------------------------------|----|----
aaas|0|2
american_physiologica

[2019-03-13 14:49] sckott commented on #191
regarding the fence issue they replied, but they want to see the API key to help diagnose. You could email to me (dont share it here), or I could include you in the thread and then you can share with just them. up to you

[2019-03-13 15:46] sckott commented on #191
what is "that"?

[2019-03-13 15:53] LMAllenJacobson commented on #191
if I change institutions, can I fix the fence issue on my own (maybe by contacting my new library)? Or, should I create a new issue at that time?

[2019-03-13 19:41] LMAllenJacobson commented on #191
Sorry I never answered your earlier question regarding Wiley and my Crossref TDM key. I think I have it set up correctly. I logged in to the cross ref clickthrough service using my ORCID id, accepted the 3 publisher-specific agreements (Zhejiang, Esevier, and Wiley), copied my API token, and stored my token and my e.mail my r environment

[code]
Could a "fence" prevent access to Wiley?

[2019-03-14 22:49] sckott commented on #191
On vacation. Back Monday

[2019-03-18 15:53] maelle opened #197 "curl config bug?"
[code]

<sup>Created on 2019-03-18 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

Looks like https://github.com/jeroen/curl/issues/156

[2019-03-18 17:46] sckott commented on #197
thanks @maelle !

does this suggestion help? https://github.com/jeroen/curl/issues/156#issuecomment-410241974

[2019-03-18 17:47] sckott opened #199 "curl options params throughout pkg?"
right now in i think all fxns we have `...` param but it doesn't always pass on curl options to all http requests. catalogue these and fix. possibly may need to add a param for curl options like `callopts` or `curlopts`, or so

[2019-03-18 17:50] sckott commented on #199
on branch `curl-opts`, pushing soon

[2019-03-18 17:55] maelle commented on #197
Where  would I write it? I am trying to knit the README

[2019-03-18 21:53] sckott commented on #197
hmmm, i need to get this https://github.com/ropensci/fulltext/issues/199 started, then i can answer you

[2019-03-19 23:00] sckott commented on #199
- [x] ft_abstract
- [ ] ft_search
- [ ] ft_links
- [ ] ft_get

[2019-03-20 17:33] sckott opened #200 "elsevier in `ft_get`: maybe catch instances of metadata only XML"
proposal:

- check for cases in which only metadata is returned
- if only metadata returned:
    - catch that, report message that only metadata returned, and likely user doesn't have access
    - delete the file

[2019-03-20 21:26] #192 closed

[2019-03-20 21:26] #199 closed

[2019-03-20 21:29] sckott commented on #197
okay, reinstall from master - then try

[code]

and report back the verbose http outout

[2019-03-20 21:29] sckott commented on #191
You can definitely try. I email integrationsupport@elsevier.com to ask about issues with their articles/APIs. You could email them yourself.

As far as I know, fences are only an Elsevier thing. I'm not sure what's preventing Wiley access in this case.

- For Elsevier, either give me your API key via email so I can give to them so they can investigate, or you can email them yourself. Let me know.

[2019-03-21 07:16] maelle commented on #197
[code]

<sup>Created on 2019-03-21 by the [reprex package](https://reprex.tidyverse.org) (v0.2.1)</sup>

<details>

<summary>Session info</summary>

[code]

</details>

[2019-03-21 10:30] mrweiler opened #202 "ft_abstract returns 10 abstracts for each DOI"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

Expected behavior: ft_abstract returns 1 abstract for each DOI.
Actual behavior: ft_abstract returns 10 abstracts for each DOI.

Code to reproduce error:
[code]

[2019-03-21 16:35] sckott commented on #202
thanks for the report!

[2019-03-21 16:35] #202 closed

[2019-03-21 16:36] sckott commented on #202
@mrweiler reinstall `remotes::install_github("ropensci/fulltext")`, reload R session, and try again, should work now

[2019-03-21 16:53] mrweiler commented on #202
it works! thanks a lot!

[2019-03-21 18:18] sckott opened #203 "bug in ft_links for entrez"
`plugin_links_entrez` failing on results that have any NULL's in them

[2019-03-21 18:18] #203 closed

[2019-03-21 18:19] sckott commented on #197
hmm, I found a little bug, just fixed #203 ,  so install again  - Also, reprex doens't show the curl vebose output - can you paste in that output manually or maybe ther'es a reprex setting to show the curl outupt

[2019-03-21 21:50] #200 closed

[2019-03-21 21:55] sckott commented on #88
nah, not enough coverage

[2019-03-21 21:55] #88 closed

[2019-03-22 11:19] maelle commented on #197
Here's what I get

[code]

[2019-03-22 16:52] sckott commented on #197
can you try `ft_links(res1, config = c(httr::verbose(), httr::config(http_version=0L)))`

[2019-03-22 17:53] maelle commented on #197
[code]

[2019-03-22 23:47] #194 closed

[2019-06-08 21:08] sckott commented on #197
still can't replicate this, closing for now

[2019-06-08 21:08] #197 closed

[2019-06-27 14:00] sckott opened #204 "fix links for fulltext manual ropensci->ropenscilabs"

[2019-06-27 14:01] #204 closed

[2019-07-06 23:29] marco86to commented on #160
Hello,
my institution use a proxy based system to access to the full texts...
Is there a way to set proxy url, port, user and password in order to be able to download the full text of the publication?

`ft_get('10.1016/j.gie.2017.03.1542') `
returns:
`<fulltext text>
[Docs] 0
[Source] ext - C:\..../R/fulltext
[IDs] 10.1016/j.gie.2017.03.1542 ...
Warning messages:
1: In readLines(w) :
  incomplete

[2019-07-10 10:16] sckott commented on #160
thanks for your question @marco86to

this should be possible. See `?proxies` and `?crul-options` after loading `library(crul)` . The `crul`  pkg is the underlying http package.

This should work but I can't test it under your particular situation of course:

[code]

You can set other details for your proxy with the `proxy` function

[2019-07-31 09:34] clbti opened #205 "ft_get() for PLOS returns XML only"
Hi, even though I specified the type as "PDF" in getting the full text and the file downloaded from PLOS is indeed in "PDF" format, but the file downloaded itself cannot be opened as PDF. It can only be opened with software compatible with XML. Attached is an example of the file.

[code]

Did I use the function incorrectly?

Thanks

[10_1371_journal_pcbi_0010019.pdf](https://github.com/ropensci/fu

[2019-07-31 16:18] sckott commented on #205
R session info please, as requested

[2019-07-31 16:44] #205 closed

[2019-07-31 16:44] sckott commented on #205
reinstall and try again, should work now

[2019-07-31 23:42] clbti commented on #205
Many thanks Scott. Yes, it works now!

[2019-08-14 18:28] sckott opened #206 "ft_get: bug in fat_cat_search_one internal helper fxn"
due to subsetting resulting data.frame with fields that the data.frame does not have

[2019-08-14 19:16] #206 closed

[2019-09-05 18:55] sckott opened #207 "bug in ft_links when passing in DOIs"
[code]

[2019-09-05 23:50] #207 closed

[2019-11-01 17:26] sckott opened #208 "ft_browse: macrodocs is dead, remove that option"

[2019-12-10 12:09] joshuachristie commented on #191
I'm having a similar problem with Wiley (not able to download any pdfs). In my case, it seems to be that `ft_get` is not accessing the api link (i.e. it tries the https://onlinelibrary.wiley.com/ link not the https://api.wiley.com/onlinelibrary/ link). For example, for doi 10.1111/evo.13812, I get the following pdf links from the crossref api:

but when running `ft_get(doi, verbose = TRUE)` it goe

[2019-12-10 20:22] sckott commented on #191
thanks, will have a look

[2019-12-10 21:42] sckott opened #209 "Wiley apparently has xml now"
e.g. https://api.crossref.org/works/10.1111/evo.13812

seems like a bit less than half of the 300 papers here have xml links:

[code]

perhaps support this

[2019-12-10 23:15] #208 closed

[2019-12-10 23:16] sckott commented on #191
@joshuachristie try again after reinstalling `remotes::install_github("ropensci/fulltext")` - Wiley is now giving those api.wiley.com URLs, as far as I know they didn't used to give those urls, but only the onlinelibrary ones. Now we're using those api.wiley.com urls

[2019-12-11 00:14] sckott opened #210 "reduce duplicated code in ft_get plugins file"
e..g,  `type` parameter checking in each data source's method

[2019-12-11 00:49] #209 closed

[2019-12-11 00:49] #210 closed

[2019-12-11 04:51] joshuachristie commented on #191
Yep working now - thanks so much for the quick fix!

[2019-12-11 14:05] sckott commented on #191
oh, and you may have noticed - wiley now has xml, so by default you get xml unless you ask for pdf

[2019-12-11 14:06] #191 closed

[2019-12-13 16:38] sckott commented on #195
apparently commit link didn't show up - 2c7c1d5

[2019-12-13 16:38] #195 closed

[2019-12-13 17:29] sckott opened #211 "ft_table failing when a file has malformed content"
e.g,. this file  (hand to change extension to txt to upload) - an xml file that is actually a pdf file - not sure how that happened exactly, but irrelevant to this issue

[10_1111_2041_210X_12656.txt](https://github.com/ropensci/fulltext/files/3961943/10_1111_2041_210X_12656.txt)

[code]

[2019-12-13 18:03] #211 closed

[2019-12-13 18:16] sckott opened #212 "use vcr for tests"

[2020-03-02 15:49] mcguinlu opened #213 "(Potential) new data source: medrxivr"
Hello!

Following a [presubmission enquiry](https://github.com/ropensci/software-review/issues/369) to rOpenSci, I wanted to get in touch with you to make you aware of [`medrixvr`](https://github.com/mcguinlu/medrxivr), a new package I have been working on to help users search a daily snapshot of the [medRxiv preprint repository](https://www.medrxiv.org/) using regular expressions and Boolean logi

[2020-03-03 00:14] sckott opened #214 "storr in onload error on cran checks"
r-release-osx-x86_64 and r-oldrel-osx-x86_64

https://www.r-project.org/nosvn/R.check/r-release-osx-x86_64/fulltext-00check.html

[2020-03-03 01:25] sckott commented on #213
thanks for the questions.

possibly, probably. i can't say for sure because e.g,. with biorxivr i did use that package in fulltext at one piont, but since have removed it and implemented biorxiv search within fulltext itself. reasons for not using a package here include if the package does not work reliably, or the interface for me to hook into it in fullltext is too difficult to work with.

most

[2020-03-12 21:23] nghia1301 opened #215 "Problem with scopus_search_loop"
Hi guys, I am having trouble with getting doi with scopus_search_loop. I am trying to get all the doi then get all full-text for text mining. However, it is giving the problem of:

Error in exists(z, private$crul_h_pool) : invalid first argument

when I put
scopus_search_loop(
    query = keyword,
    count = 30000,
)
Because my result should be around 22680. Accordingly, I thought I could set it

[2020-03-12 22:51] sckott commented on #215
thx for the issue @nghia1301  please share your R session info:  `sessionInfo()` (or `sessioninfo::session_info()`) with `fulltext` loaded - In addition, please share a reproducible example - e.g., what is `keyword` above ?

[2020-03-12 22:56] nghia1301 commented on #215
My session info:
R version 3.6.1 (2019-07-05)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 18363)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252
[2] LC_CTYPE=English_United States.1252
[3] LC_MONETARY=English_United States.1252
[4] LC_NUMERIC=C
[5] LC_TIME=English_United States.1252

attached base packages:
[1] stats     graphics  grD

[2020-03-13 17:00] sckott commented on #215
I can replicate your problem. I'm not sure why it's happening, though I've heard of this happening after a lot of HTTP requests. A lot of requests are made because you can only get 25 records for each request, so 30000/25 is a lot.

You might try this:

download this repo - there's various options on the repo landing page

<img width="522" alt="Screen Shot 2020-03-13 at 9 59 05 AM" src="https://us

[2020-03-15 01:23] nghia1301 commented on #215
Dear Sckott,
I am not too familiar with modifying source code, I was wondering if you have any easier way to achieve the same purpose (get all the DOI into list or dataframe), I would really appreciate it.

[2020-03-16 18:42] sckott commented on #215
Sure, I'll get back to you with something soon

[2020-03-17 20:51] sckott commented on #215
try this

[code]

[2020-03-17 22:00] nghia1301 commented on #215
Hi Sckott,
I am having this trouble:
Error in exists(z, private$crul_h_pool) : invalid first argument

And my session info is:

R version 3.6.1 (2019-07-05)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 18363)

Matrix products: default

locale:
[1] LC_COLLATE=English_United States.1252
[2] LC_CTYPE=English_United States.1252
[3] LC_MONETARY=English_United States.12

[2020-03-19 23:35] achamess opened #216 "Error in sprintf(pat, x) : too few arguments"
I'm trying to use a list of DOIs to download full text PDFs. It's working partially, downloading several from the same publisher, but then it's getting hung up and I get the following error:

[code]

[code]
Not sure what to do, or which DOI is even the problem.

<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2020-03-20 01:08] sckott commented on #216
thanks @achamess for your report. please share an example DOI that is causing that error

[2020-03-20 14:07] achamess commented on #216
Thanks for the reply. I'm not sure which one(s) are the trouble.

Here is the entire list. Not sure if anything obvious:

[code]
I did try to go through some just to test. The only ones that work perfectly are the ones from science (AAAS) and eLife. The Nature and Cell Press (sciencedirect) don't work at all. Kind of a bummer. I love the idea of this package though. Just seems like a lot of barrie

[2020-03-20 18:16] sckott commented on #216
The barriers come from publishers, not this package.

It was the doi `10.1242/dev.174284` that caused the issue. Added a plugin for this publisher, should work now after you restart R, reinstall `remotes::install_github("ropensci/fulltext")`

[2020-03-20 18:16] #216 closed

[2020-03-20 18:18] achamess commented on #216
Didn't mean to imply you all made the barriers. I understand the publishers don't make it easy at all. Thank you for your hard work! In the future, is there a good way for me to identify which DOI throws the error so I can more specifically post issues?

[2020-03-20 18:27] achamess commented on #216
FYI, when I downloaded the dev version of `fulltext` it threw this error

[code]

[2020-03-20 19:09] sckott commented on #216
did you restart R first?

[2020-03-25 16:43] sckott commented on #215
when you run the while loop, i assume you are getting some results, see the `out` object for results. just restart the while loop to get more restls

[2020-03-30 14:57] sckott opened #217 "support for EBSCO CINAHL"
see email "EBSCO Support Case"

[2020-04-07 18:49] sckott commented on #214
probably should remove the storr setup in onload https://github.com/ropensci/fulltext/blob/master/R/on_load.R and have a separate function for users to run to setup the storr

[2020-04-08 00:08] sckott commented on #214
work on branch https://github.com/ropensci/fulltext/tree/onload-storr

[2020-04-08 21:23] sckott commented on #214
install like `remotes::install_github("ropensci/fulltext@onload-storr")`

[2020-04-14 04:04] nghia1301 commented on #215
I have tried to reset but I receive the same issue

Error in exists(z, private$crul_h_pool) : invalid first argument

Do you think I can put sys.sleep somewhere to run this code more smoothly?

[2020-04-15 23:37] sckott commented on #215
it's this line here https://github.com/ropensci/crul/blob/master/R/client.R#L460 in the `crul` package which handles the HTTP requests. I would need to know the `z` object that gets passed in to that line of code. So I would just need to know the URL of the request that has that error. Without that I can't really help any more

[2020-04-18 20:59] nghia1301 commented on #215
Hey Skott, I have figured out where it got wrong. I checked with Elsevier and for deep paging, they have a different process, which you have to specify the cursors as "*". You can check here for deep paging: https://dev.elsevier.com/tecdoc_developer_faq.html

Here is the revised code for future reference. I really really do appreciate your code, this is a major help for my project. Sincerely.

rbl

[2020-04-20 19:36] sckott commented on #215
sounds good

[2020-04-20 19:36] #215 closed

[2020-04-30 18:50] sckott opened #218 "maybe use semantic scholar as an option for searching/fetching"
https://www.semanticscholar.org/
http://s2-public-api-prod.us-west-2.elasticbeanstalk.com/

[2020-04-30 19:00] sckott commented on #218
- theres no search
- just fetch by identifier, e.g,

[code]

[code]

They don't have any full text so far that I've seen. But looks like they do often have abstracts, could add as an option for `ft_abstract()`

[2020-06-17 10:48] behrica opened #219 "Question: Are you planning supporting Web of Science ?"
Sometimes as well called "Web Of Knowledge".

http://wokinfo.com/

They have an API, so it should be possible to support it for "search" and "abstracts".

[2020-06-17 19:10] sckott commented on #219
Thanks for your question. I looked into it a bit, decided that not at this time.  WOS is very complicated from a access perspective - tried using wosr and I couldn't figure out how to access the data through it. If access gets easier we can integrate here.

[2020-06-17 19:51] behrica commented on #219
We are very much interested in having WoS support and might be able to contribute something.
Our goal is to be able to use a single R package for searching and accessing abstracts in:

- Scopus
- Pubmed
- Web of Science

mainly and maybe some more in the future.

I think wosr is oudated and is not updated for the latest (big) changes in the WoS API:
https://github.com/vt-arc/wosr/issues/11

 Same

[2020-06-17 20:08] sckott commented on #219
Can you share a link to the API documentation that you're referring to?

Probably yes we could do an integration if you work on a package for WOS, but that may take longer than putting some code in here (getting the package created, then to CRAN). An example of not wrapping a package, but just including code in fulltext is for scopus - see [scpous_utils.R](https://github.com/ropensci/fulltext/blob

[2020-06-17 20:32] behrica commented on #219
Here is the "start" of a package supporting the new WoS APIs:
I does so far not have support for "search", but it seems that a lot of basic stuff for "all APIs" of Clarivate is there. (list APIs, list endpoints, something for the keys)

https://github.com/muschellij2/webofscience

The docu I refer is here,
https://developer.clarivate.com/apis/wos

I downloaded and imported the provided swagger fil

[2020-06-17 20:40] behrica commented on #219
I will think about both options. We have a very narrow use case (systematic reviews of articles), in that we only need "title" and "abstract" and no other metadata.
So we could eventually be much faster to add the minimal needed support for WoS here.

Should we leave this issue open for further discussion later (in a couple of weeks) or would you prefer some other form ?

[2020-06-17 21:28] sckott commented on #219
Thanks. Checked, and I don't have access to that newer WOS API. For now, probably best to develop what you need in a separate repo. I'll see if I can get access. If I can't, then WOS will have to stay separate as I don't want to include data sources to which I do not have access.

Let's leave this open for now

[2020-06-17 21:37] sckott commented on #219
@behrica i can't figure it out actually. I register an application on https://developer.clarivate.com/, then the application says "Your application does not have any API subscriptions currently. You may add subscriptions on the API pages.", but then I go to the APIs page https://developer.clarivate.com/apis and WOS isn't there. any ideas?

[2020-06-18 07:30] behrica commented on #219
They are definitely "protecting" the APIs... (and information about them)
You should see 2 extra APIs here:
https://developer.clarivate.com/apis after logging in.
- web of sciece - expanded
- web of science - lite   (less metadata, no abstracts)

The second one can be used for free, after registration
The first definitely needs a paid subscriptions  (not sure, if there is a trial mode or similar).

[2020-06-18 07:34] behrica commented on #219
I attached the swagger 2.0 definition of the WoS expanded API
[wos.swagger.gz](https://github.com/ropensci/fulltext/files/4796968/wos.swagger.gz)

Maybe useful for you.
I think there are tools to view it nicely.

[2020-06-18 07:42] behrica commented on #219
Some more screenshots from the swagger definition on their website:

![image](https://user-images.githubusercontent.com/127361/84992171-dc988980-b147-11ea-9dad-8e8cd5f5066e.png)

![image](https://user-images.githubusercontent.com/127361/84992326-081b7400-b148-11ea-8729-802930894b00.png)

[2020-06-18 07:48] behrica commented on #219
The API looks, as I said, "well designed" on first sight.
Including as well documentation how "quotas" will be returned,
allowing json + xml.

But they definitely protect the metadata, and "advanced" metadata need to be paid.
There is as well a detailed policy of "what is allowed to do " with each metadata element.
(storing, showing to public, ....)

So far away from "Open Science".

But limited,

[2020-06-18 08:39] behrica commented on #160
I just proposed to add an example to show how to use a authenticated proxy, which worked for me.
See here #220

Maybe it works as well with "set_proxy", but I have not tried that.

[2020-06-18 08:40] behrica opened #221 "Having a way to see full http response body ?"
I know that we can pass verbose=TRUE,
but that does not show the response body.

I read about the "hooks", but could not get it working.

For my problem described in #220 , it would have helped me if I could have seen, if or if not, the abstract text was in the http response or not.

[2020-06-18 09:05] behrica commented on #221
I just see that "hooks" is not supported as a parameter in "scopus_get", correct ?
Looking at this:
[code]
Is there an other way to see the response, except via debugging ?

[2020-06-21 15:12] sckott commented on #160
thanks, will have a look @behrica

[2020-06-21 15:17] #160 closed

[2020-06-21 15:22] sckott commented on #221
`verbose=TRUE` only shows curl request and response headers, not request or response bodies. One thing I often do is use `verbose=TRUE` to get what request is being sent then use `curl -v` (`-v` is the same as `verbose=TRUE` in R) on the command line to see the entire response. I don't think you could use hooks as I think we only allow curl options to be passed in to the `opts` parameter https://d

[2020-06-21 15:27] sckott commented on #219
Thanks for all the details.

For now I don't have access, so I can't support WOS here - i'll look into access more this week

[2020-06-21 17:59] behrica commented on #221
The full response body. That would have helped me to see, that the responses missed already something.

[2020-06-22 15:10] sckott commented on #221
Specifically what request though? What function and what query

[2020-06-30 17:13] #221 closed

[2020-06-30 17:27] sckott commented on #219
Still dont have access. So likely WOS will have to stay as a separate package unless access becomes significantly easier

[2020-06-30 23:09] sckott commented on #193
doesn't really seem feasible

[2020-06-30 23:09] #193 closed

[2020-07-01 00:02] sckott opened #222 "ft_get: `from` param doesn't accept > 1 value even though it should"

[2020-07-01 04:56] #218 closed

[2020-07-01 15:09] #102 closed

[2020-07-01 15:09] #101 closed

[2020-07-01 15:10] sckott commented on #9
done enough

[2020-07-01 15:10] #9 closed

[2020-07-01 15:10] sckott commented on #78
nah

[2020-07-01 15:10] #78 closed

[2020-07-01 15:11] #46 closed

[2020-07-01 15:11] #23 closed

[2020-07-01 15:11] #38 closed

[2020-07-01 15:13] #75 closed

[2020-07-01 15:13] #76 closed

[2020-07-01 15:19] sckott commented on #49
nah, already complex enough

[2020-07-01 15:19] #49 closed

[2020-07-01 15:21] #67 closed

[2020-07-01 15:22] sckott commented on #125
i think fatcat is a pretty good general search tool we're already using

[2020-07-01 15:22] #125 closed

[2020-07-01 17:10] #222 closed

[2020-07-01 17:28] sckott commented on #153
of the query params for the `/search` route for this API, we only don't use sort, closing

[2020-07-01 17:28] #153 closed

[2020-07-01 17:30] sckott commented on #144
closing unless someone raises this issue again

[2020-07-01 17:30] #144 closed

[2020-07-01 17:31] sckott commented on #214
its gone away in cran checks, closing

[2020-07-01 17:31] #214 closed

[2020-07-01 20:39] #212 closed

[2020-07-02 00:36] sckott opened #223 "ft_links: looks like *opts params aren't actually passing on options to GET funs"
check into it

[2020-07-02 07:38] behrica commented on #219
Ok, thanks for the info.

Maybe we come back to this in couple of weeks, once we start working on the WOS.
We definitely have the goal to make the access to WebOfScience articles "as easy as possible" from R.

Starting this will maybe help us as well to figure out the exact procedure to get access.

We will try to follow what is done here as closely as possible, in order to ease a potential future

[2020-07-02 15:17] sckott commented on #219
Sounds good!

[2020-07-02 15:48] sckott opened #224 "Crossref TDM click through service going away end of 2020"
Transition away from using click through keys.

Maybe add a warning/message telling users that the click through keys will be useless 2021 and beyond, but ideally need to be able to say what they can use instead.

In 2021, remove support for keys, and then error if a user uses a click through key

[2020-10-02 21:44] sckott opened #225 "Converting ftdoi.org api to just an R pkg ftdoi"
pkg at https://github.com/ropensci/ftdoi

work not done yet, testing on a dev branch now

[2020-10-07 16:41] #143 closed

[2020-10-07 16:43] #91 closed

[2020-10-07 19:08] #223 closed

[2020-10-07 19:09] #225 closed

[2020-10-16 20:55] sckott opened #226 "move ftdoi code into this pkg - too slow to get new pkgs on cran"

[2020-10-16 20:55] sckott opened #227 "rbuildignore all vignettes, only show on docs site"

[2020-10-16 23:08] #226 closed

[2020-10-16 23:08] #227 closed

[2020-11-02 23:10] kristenpeach opened #228 "Query exact phrase using ft_search"
I want to find publications that include my complete query phrase. The link from the package help page (https://dev.elsevier.com/sc_search_tips.html) says I need to use brackets to do this: "To find documents that contain an exact phrase, including any stop words, spaces, and punctuation, enclose the phrase in braces: {oyster toadfish}." But when I try to use brackets in my query the code won't ru

[2020-11-03 16:49] sckott commented on #228
Thanks for your question!

Try the `ft_search` query again, but this time put the entire thing in quotes: `"{complete phrase here}"`

[2020-11-03 17:57] kristenpeach commented on #228
Thanks for the quick response! That produces this error:

Error: 400 - org.apache.solr.search.SyntaxError: Cannot parse '{complete phrase here}': Encountered " <RANGE_GOOP> "phrase "" at line 1, column 8. Was expecting: "TO" ...

[2020-11-03 19:16] sckott commented on #228
the docs for `ft_search` say

So that link is only for help when searching `scopus`

That new error is coming from plos, so you can just not include that source.

In addition, make these changes:

- `biorxivr` should be `biorxiv`
- `europe_pmc` should be `europmc `
- `ma` should be `microsoft`

[2020-11-03 19:47] kristenpeach commented on #228
Thank you!!!

[2020-11-03 19:50] #228 closed

[2020-12-09 18:10] vipulg13 opened #229 "the "limit" argument doesn't get overridden by the "limit" or "count" argument passed in a list options to the ft_search function"
Dear Team,

first of all, thanks for this incredible one shot interface.

As I stated in the title field, it would be great if you could make a necessary changes in your plugins functions, such that if the limit or count argument is passed in the list options specific to the data source, then it gets precedence over the function level "limit" argument. This will provide great flexibility to the us

[2020-12-10 17:48] sckott commented on #229
Thanks for the issue. I'll have a look

[2020-12-17 16:05] banderson10 opened #230 "problem working through examples in fulltext manual"
Hello,
I have been working through the examples in the fulltext manual in the last several days. Today (Thursday December 17), when I try to just run a simple example like the following that is in Chapter 9 (Fetch), I get an HTTP error. The example and error is below.

From Chapter 9 (section 9.3) in the fulltext manual:

Code:
(res <- ft_get('10.1371/journal.pone.0086169'))

Error in Console:
Err

[2020-12-17 19:13] banderson10 commented on #230
Hi again,
Please disregard my previous message. I just logged into RStudio again, and now the example code is running with no errors! Apologies for the 'false alarm'. I have learned a lot about this package from the manual! I am looking forward to applying fulltext() to my team's research problem.
Billie

[2020-12-17 19:22] sckott commented on #230
Great, glad its working again. A 400 series HTTP error https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/400 is a "client error" - or what's perceived to be a client error (client here refers to the fulltext package). But, servers don't always give the right http status code, so its possible it was a problem on the PLOS side (that's a PLOS DOI). I've noticed that PLOS has been having some p

[2020-12-17 19:22] #230 closed

[2020-12-30 22:43] sckott opened #231 "fatcat search field limiter changed"
`_source` to `_source_includes` - probably changed the ES version

[2020-12-30 22:57] #229 closed

[2020-12-30 22:57] #231 closed

[2020-12-30 22:57] sckott commented on #229
@vipulg13 should work now, reinstall  `pak::pkg_install("ropensci/fulltext")`

[2021-01-11 14:14] vipulg13 commented on #229
@sckott it is now working as expected.
Just a small note: you could also consider making a slight change in the plugin_search_crossref(...) module to get rid of below warning-

Warnmeldung:
`tbl_df()` is deprecated as of dplyr 1.0.0.
Please use `tibble::as_tibble()` instead.

[2021-01-11 16:34] sckott commented on #229
great, glad it works. thanks for the note

[2021-01-11 16:43] sckott commented on #229
the warning comes from a dependency - not sure which one, possibly from rcrossref, but if that pkg then its an older version of it as the current version doesn't use tbl_df anywhere

[2021-02-09 15:41] vipulg13 opened #232 "ft_get() is unable to retrieve data from the scientific.net publisher"
Hello Team,

until last week the ft_get() was able to fetch articles from the "scientific.net" publisher using the default settings i.e., through the crossref gateway, however, from this week onwards I am not able to fetch the data. I have checked the institutional access and I am able to manually download fulltext pdfs directly from the www.scientific.net and Scopus.

The problem appears to be re

[2021-02-09 18:37] sckott commented on #232
Thanks for the report

I'm aware of the issue https://github.com/ropensci/fulltext/issues/224 - Yes Crossref TDM is gone, and you now have to get your own keys for Elsevier and Wiley. Will be making changes soon

[2021-02-09 22:29] vipulg13 commented on #232
Hi @sckott, thanks for the prompt check and comment.

The Elsevier key has already been set into the .REnviron. For Wiley, I could see that my research institute has access to the online library. I tried exploring the Wiley and further created an account but it is still unclear to me how to generate a key.

Anyway, I wait for further instructions.

Thanks again!

[2021-02-09 22:53] sckott commented on #232
For a Wiley token, they just got their TDM program released - https://onlinelibrary.wiley.com/library-info/resources/text-and-datamining I've got a token but haven't tested it yet

[2021-02-10 09:34] vipulg13 commented on #232
@sckott : thanks for sharing it. I have also got a token.
But, I am still sceptical about the retrieval of full text articles from the "scientific.net" publisher because I am largely missing articles at the moment from this particular publisher only. Let's see how the system works after the new changes. Maybe the "scientific.net" publisher is implicitly incorporated in the Elsevier service.

[2021-02-10 21:39] sckott commented on #217
not happening

[2021-02-10 21:39] #217 closed

[2021-02-10 21:39] sckott commented on #108
not happening

[2021-02-10 21:39] #108 closed

[2021-02-10 21:40] #6 closed

[2021-02-11 22:09] sckott opened #233 "Drop crminer pkg as it will be archived"
via #224

incorporate any required functionality here

[2021-02-11 22:46] #233 closed

[2021-02-11 22:47] sckott commented on #224
done

[2021-02-11 22:47] #224 closed

[2021-02-11 23:38] #232 closed

[2021-02-11 23:38] sckott commented on #232
@vipulg13 reinstall `remotes::install_github("ropensci/fulltext")`, then try

[code]

[2021-02-16 17:31] sckott opened #234 "bug in ft_abstract, with from=plos"
via https://discuss.ropensci.org/t/fulltext-error-cant-subset-columns-that-dont-exist/2370

[code]

[2021-02-16 17:50] sckott opened #235 "ft_abstract: use a more sane default data source"
using PLOS as default `from` arg right now, which only works for PLOS DOIs - use crossref instead probably

[2021-02-16 18:12] sckott opened #236 "ft_search microsoft bug"
[code]

[2021-02-16 19:21] #234 closed

[2021-02-16 19:21] #235 closed

[2021-02-16 19:21] #236 closed

[2021-04-28 15:47] santoshbs opened #237 "No results when using Crossref"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

When I execute this code, I get the message  below. Nothing happens even after many minutes:
[code]

[code]

[2021-05-03 19:52] sckott commented on #237
I get the same problem, the request just hangs for a long time

I think it's the `has-abstract` filter that's the problem. Will have a look

[2021-05-03 20:33] sckott commented on #237
opened an issue https://gitlab.com/crossref/issues/-/issues/1254

[2021-05-06 15:07] sckott opened #238 "remove Microsoft option throughout package"
https://github.com/ropensci/microdemic/issues/20

[2021-05-12 12:22] SHogenboom opened #239 "ft_abstract errors"
I'm having issues using the `ft_abstract` function in two cases:

1. Unspecified from:
[code]
returns the error:
[code]

2. Specified from:
[code]
returns the error:
[code]

In both cases I think the desired behavior is to return an `empty string`/`null`/`NA` value rather than throwing an error. Currently I cannot use these functions inside loops/apply functions which is rather inconvenient.

[2021-05-12 17:29] sckott commented on #239
thanks for the issue!

Please share your R session info so i can help you

[2021-05-21 07:11] SHogenboom commented on #239
R version 4.0.3 (2020-10-10)
Platform: x86_64-apple-darwin17.0 (64-bit)
Running under: macOS Big Sur 10.16

Matrix products: default
LAPACK: /Library/Frameworks/R.framework/Versions/4.0/Resources/lib/libRlapack.dylib

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.UTF-8/en_US.UTF-8

attached base packages:
[1] stats     graphics  grDevices utils
[5] datasets  methods   base

other attache

[2021-05-21 18:56] sckott commented on #239
Thanks, but I meant after loading `fulltext` package. what does `packageVersion("fulltext")` give you?

[2021-05-25 07:58] SHogenboom commented on #239
`packageVersion("fulltext")` gives me `1.7.0`

[2021-05-25 23:46] sckott commented on #239
Thanks @SHogenboom

For the first example, that's been fixed in the development version. Install `remotes::install_github("ropensci/fulltext")` to get the fix.

For the second example, its an issue with the Elsevier/Scopus API - the abstract is for some reason not available.

Note: the default source in `ft_abstract` in the dev version is now crossref instead of plos.

As for when errors happen, I

[2021-06-03 14:55] banderson10 opened #240 "Question: rate limits/obtaining all DOIs from a search"
Hello,

I am using the ft_search() function within the fulltext package. I am specifically searching the Wiley database (which recently replaced the Crossref TDM database). I have obtained my API. I understand there are rate limits on the Wiley database. Using the search shown below, I observe that 70,244 articles are found using ft_search(). Due to the rate limit imposed by Wiley, I can only obta

[2021-06-03 18:57] sckott commented on #240
Please share the output of `sessionInfo()` after loading `fulltext` so I can better help you

what do you mean? I'm not aware of this

Which API key are you talking about?

`ft_search` DOES NOT have an option to search Wiley. With respect to Wiley, you may be thinking of [`ft_get`](https://docs.ropensci.org/fulltext/reference/ft_get.html) which does integrate with Wiley

If your API key is for the

[2021-06-04 03:10] banderson10 commented on #240
Thank you for your reply, Scott. This was my mistake, and I did not understand what I had misunderstood until you responded. I was confusing the information regarding the Wiley TDM key with how to use Crossref in the ft_search() function. Your comments regarding pagination makes perfect sense, and I have read the link you sent me regarding pagination. With this link along with your code snippet, I

[2021-06-04 21:43] sckott commented on #240
awesome, glad it works now

[2021-06-04 21:43] #240 closed

[2021-06-04 23:56] sckott commented on #237
@santoshbs they said it should get faster soon, in a few weeks https://gitlab.com/crossref/issues/-/issues/1254#note_590494898

[2021-06-08 23:50] #239 closed

[2021-07-21 03:31] datalake101 opened #241 "Hi, I am a new user and need setting up the API for BMC. Could you please provide the code for setting BMC API in R."
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>

[2021-07-22 13:58] banderson10 opened #242 "returning more than 1000 DOIs using EuropePMC database"
Hello,

I have two questions related to using ft_search() to return DOIs from the EuropePMC database. The questions are below and there is an example to help assist with my questions.

1. When I run the first example below that is the example in the fulltext manual, I receive a variable in the 'a' object that contains the 1,000 DOIs, a$europmc$data$doi.

res <- ft_search(query="ecology", from='eur

[2021-07-27 15:57] sckott commented on #242
hi @banderson10 i've changed jobs and I haven't been able to find a new maintainer for this pkg yet

[2021-07-27 17:08] banderson10 commented on #242
Hi Scott,

I understand. I will post my question to stackoverflow.com.

Thanks for letting me know.

Billie

Billie Anderson, Ph.D.
Assistant Professor of Applied Statistics
UMKC Henry W. Bloch School of Management
5110 Cherry Street, Suite 327| Kansas City, MO 64110
(816) 235-2301 | ***@***.***

From: Scott Chamberlain ***@***.***>
Sent: Tuesday, July 27, 2021 10:58 AM
To: ropensci/fulltext ***@*

[2021-11-05 13:37] Rekyt commented on #241
Hey @datalake101, I'm not the maintainer of the package but I can answer you.

To get the API running for BMC you can follow what's written there: https://docs.ropensci.org/fulltext/reference/fulltext-package.html#authentication

So what you need to do is:

1. Signup at https://dev.springer.com/,
2. Get a key.
3. Copy this key and store it as an `.Renviron` file as a `SPRINGER_KEY` variable.

If t

[2021-11-05 16:36] sckott commented on #241
thanks for the help on this @Rekyt !

[2021-12-02 22:55] LukasWallrich opened #243 "Gone from CRAN?"
I am sure you are aware of that, but fulltext is gone from [CRAN](https://cran.r-project.org/web/packages/fulltext/index.html).

Before figuring that out, I tried a few other ways of making install.packages work, including updating R and all packages ... so an update to the README would be a helpful interim step.

Hope you can get this back to CRAN without too much hassle.

[2021-12-02 23:02] sckott commented on #243
hi @LukasWallrich tldr: it won't be going back on cran.

i've moved on to another job and no longer work on this pkg, and could not find someone else to take it over. if you're interested, let me know. You should be able to install from github like `remotes::install_github("ropensci/fulltext")`, or r-universe - see https://ropensci.r-universe.dev/ui#builds

[2021-12-03 07:42] LukasWallrich commented on #243
Thanks for that update! I don't feel that I have the expertise/experience to maintain this package - if there is someone else I could share it with (whom you know, or who might just read this), I'd be happy to think about it.

[2021-12-03 17:46] sckott commented on #243
Don't know of any others interested.

[2022-02-16 21:27] DomRoche opened #244 "ft_get() and ft_abstract() don't seem to work with scopus, even with a key"
Hi,

Unsure if anyone is maintaining fulltext since Scott Chamberlain moved on... but just in case:

I'm trying to find all papers that mention the word "ebird" using fulltext.

I got an API key from Elsevier and added it as an environment variable:

Sys.setenv(ELSEVIER_SCOPUS_KEY = "keynumber")
Sys.setenv(ELSEVIER_TDM_KEY = "keynumber")

I get 2623 hits in scopus using ft_search (more than when u

[2022-02-16 21:53] sckott commented on #244
don't know what's specifically going on here, but in general, turn on verbose curl output `crul::set_verbose()` to seed curl headers. Check to see if your API key is still valid or not https://dev.elsevier.com/  And they also check IP addresses, so you have to be on your VPN probably if you're not on campus or similar if you're at a company

[2022-02-17 00:44] DomRoche commented on #244
Hi Scott,

Many thanks for your speedy reply - much appreciated, especially given you are no longer supporting the package.

API key is valid and VPN was on. I turned on the verbose curl output (thanks for that suggestion!) and saw that the issue came from the vector of DOIs containing NAs. After removing those, ft_(abstract)  ran partly on the first try and completely on the second. Problem solve

[2022-02-18 16:53] sckott commented on #244
don't the DOIs that have no abstract still show up in the output of `ft_abstract`? like

[code]

if so, then just filter the output of `ft_abstract` to those list elements that have no abstract, something like

[code]

[2022-02-18 19:51] DomRoche commented on #244
Good point! Yes, they do. Thanks

Weirdly, however, `Filter(function(x) !nzchar(x$abstract), out$scopus)` returns a list of length 0

Whereas `Filter(function(x) nzchar(x$abstract), out$scopus)` returns a list of length 2305 as expected

I haven't had to work with lists of lists (the output of ft_abstract) much... any idea why this option insn't working? I haven't found an alternative so far...

[2022-02-19 03:35] sckott commented on #244
I'd inspect one of the list elements with no abstract. Perhaps where i get `""` you are getting something else

[2022-07-08 20:47] wesley4546 commented on #219
@sckott I'm currently taking on a project using the WoS lite API. I have a working script in Python that accesses WoS, scrapes it, and outputs a .RIS file of all the output.

I have access to WoS through my University and registered an application that way. All a user needs is an API key they get from WoS.

If it sounds worth it, I'm open to setting up a meeting to discuss potentially implementing

[2022-09-09 09:08] maelle commented on #243
This repository is about to be archived.
If you develop a related package, it might be in scope for https://ropensci.org/software-review/

[2022-09-09 09:08] #243 closed

[2022-09-09 09:08] maelle commented on #244
This repository is about to be archived.
If you develop a related package, it might be in scope for https://ropensci.org/software-review/

[2022-09-09 09:08] #244 closed, assigned to nobody

[2022-09-09 09:08] maelle commented on #241
This repository is about to be archived.
If you develop a related package, it might be in scope for https://ropensci.org/software-review/

[2022-09-09 09:08] #241 closed

[2022-09-09 09:08] maelle commented on #242
This repository is about to be archived.
If you develop a related package, it might be in scope for https://ropensci.org/software-review/

[2022-09-09 09:08] #242 closed

[2022-09-09 09:09] #238 closed

[2022-09-09 09:09] maelle commented on #237
This repository is about to be archived.
If you develop a related package, it might be in scope for https://ropensci.org/software-review/

[2022-09-09 09:09] #237 closed

[2022-09-09 09:09] #136 closed

[2022-09-09 09:09] #64 closed